.u-aspect-ratio {
  position: relative;
  max-width: 100%;
  height: auto;
}

.u-aspect-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-aspect-ratio--16-9 {
  padding-top: 56.25% !important;
}