//Foreground
.u-color__primary--contrast { color: $primary-contrast !important; }
.u-color__primary--dark { color: $primary-dark  !important; }
.u-color__primary--light { color: $primary-light  !important; }

.u-color__secondary--gray80 { color: $secondary-gray80  !important; }
.u-color__secondary--gray60 { color: $secondary-gray60  !important; }
.u-color__secondary--gray40 { color: $secondary-gray40  !important; }
.u-color__secondary--gray20 { color: $secondary-gray20  !important; }
.u-color__secondary--gray10 { color: $secondary-gray10  !important; }
.u-color__secondary--gray4 { color: $secondary-gray4  !important; }

.u-color__thema--1 { color: $thema-1  !important; }
.u-color__thema--2 { color: $thema-2  !important; }
.u-color__thema--3 { color: $thema-3  !important; }
.u-color__thema--4 { color: $thema-4  !important; }
.u-color__thema--5 { color: $thema-5  !important; }
.u-color__thema--6 { color: $thema-6  !important; }
.u-color__thema--7 { color: $thema-7  !important; }
.u-color__thema--8 { color: $thema-8  !important; }
.u-color__thema--9 { color: $thema-9  !important; }
.u-color__thema--10 { color: $thema-10  !important; }
.u-color__thema--11 { color: $thema-11  !important; }
.u-color__thema--12 { color: $thema-12  !important; }
.u-color__thema--13 { color: $thema-13  !important; }
.u-color__thema--14 { color: $thema-14  !important; }
.u-color__thema--15 { color: $thema-15  !important; }

//Background
.u-background-color__primary--contrast { background-color: $primary-contrast  !important; }
.u-background-color__primary--dark { background-color: $primary-dark  !important; }
.u-background-color__primary--light { background-color: $primary-light  !important; }

.u-background-color__secondary--gray80 { background-color: $secondary-gray80  !important; }
.u-background-color__secondary--gray60 { background-color: $secondary-gray60  !important; }
.u-background-color__secondary--gray40 { background-color: $secondary-gray40  !important; }
.u-background-color__secondary--gray20 { background-color: $secondary-gray20  !important; }
.u-background-color__secondary--gray10 { background-color: $secondary-gray10  !important; }
.u-background-color__secondary--gray4 { background-color: $secondary-gray4  !important; }

.u-background-color__thema--1 { background-color: $thema-1  !important; }
.u-background-color__thema--2 { background-color: $thema-2  !important; }
.u-background-color__thema--3 { background-color: $thema-3  !important; }
.u-background-color__thema--4 { background-color: $thema-4  !important; }
.u-background-color__thema--5 { background-color: $thema-5  !important; }
.u-background-color__thema--6 { background-color: $thema-6  !important; }
.u-background-color__thema--7 { background-color: $thema-7  !important; }
.u-background-color__thema--8 { background-color: $thema-8  !important; }
.u-background-color__thema--9 { background-color: $thema-9  !important; }
.u-background-color__thema--10 { background-color: $thema-10  !important; }
.u-background-color__thema--11 { background-color: $thema-11  !important; }
.u-background-color__thema--12 { background-color: $thema-12  !important; }
.u-background-color__thema--13 { background-color: $thema-13  !important; }
.u-background-color__thema--14 { background-color: $thema-14  !important; }
.u-background-color__thema--15 { background-color: $thema-15  !important; }
