//Foreground
.u-color-brand-primary { color:$brand-primary; }

.u-color-black { color:$black; }
.u-color-white { color:$white; }

.u-color-gray-dark { color:$gray-dark; }
.u-color-gray-medium { color:$gray-medium; }
.u-color-gray-light { color:$gray-light; }

//Background
.u-bg-color-red { background-color:$brand-primary; }

.u-bg-color-black { background-color:$black; }
.u-bg-color-white { background-color:$white; }

.u-bg-color-gray-dark { background-color:$gray-dark; }
.u-bg-color-gray-medium { background-color:$gray-medium; }
.u-bg-color-gray-light { background-color:$gray-light; }