.u-padding--0 { padding: 0 * $base-whitespace !important; }
.u-padding--1 { padding: 1 * $base-whitespace !important; }
.u-padding--2 { padding: 2 * $base-whitespace !important; }
.u-padding--3 { padding: 3 * $base-whitespace !important; }

.u-padding__top--0 { padding-top: 0 * $base-whitespace !important; }
.u-padding__top--1 { padding-top: 1 * $base-whitespace !important; }
.u-padding__top--2 { padding-top: 2 * $base-whitespace !important; }
.u-padding__top--3 { padding-top: 3 * $base-whitespace !important; }

.u-padding__right--0 { padding-right: 0 * $base-whitespace !important; }
.u-padding__right--1 { padding-right: 1 * $base-whitespace !important; }
.u-padding__right--2 { padding-right: 2 * $base-whitespace !important; }
.u-padding__right--3 { padding-right: 3 * $base-whitespace !important; }

.u-padding__bottom--0 { padding-bottom: 0 * $base-whitespace !important; }
.u-padding__bottom--1 { padding-bottom: 1 * $base-whitespace !important; }
.u-padding__bottom--2 { padding-bottom: 2 * $base-whitespace !important; }
.u-padding__bottom--3 { padding-bottom: 3 * $base-whitespace !important; }

.u-padding__left--0 { padding-left: 0 * $base-whitespace !important; }
.u-padding__left--1 { padding-left: 1 * $base-whitespace !important; }
.u-padding__left--2 { padding-left: 2 * $base-whitespace !important; }
.u-padding__left--3 { padding-left: 3 * $base-whitespace !important; }