<h2>Actieve filters</h2>
<ul>
    <li ng-repeat="filter in vm.formattedActiveFilters">
        {{filter.categoryLabel}}: {{filter.option}}
        <button class="o-btn o-btn--link" ng-click="vm.removeFilter(filter.categorySlug)">
            Verwijderen
        </button>
    </li>
</ul>

<h2>Beschikbare filters</h2>
<div ng-repeat="category in vm.availableFilters">
    <h3>{{category.label}}</h3>
    <ul>
        <li ng-repeat="option in category.options | limitTo : 10">
            <button class="o-btn o-btn--link" ng-click="vm.addFilter(category.slug, option.label)">
                {{option.label}}
            </button>

            ({{option.count | number}})
        </li>
    </ul>
    <button ng-if="category.options.length > 10"><strong>Toon meer</strong></button>
</div>
