.c-straatbeeld {
  position: absolute;
  top: $base-whitespace * 2;
  right: $base-whitespace;
  bottom: $base-whitespace * 2;
  left: $base-whitespace;
  z-index: 1;
}

.c-straatbeeld__marzipano {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: $secondary-gray40;
}