<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <dp-plugin-detail-partial
      object="false"
      href="vm.apiData.hoofdadres._links.self.href"
      page="'nummeraanduiding.html'">
    </dp-plugin-detail-partial>


    <!-- ligplaats -->
    <div
      ng-include="'./plugins/plugin-detail/templates/bag/includes/ligplaats.html'"
      onload="object=vm.apiData">
    </div>
  </div>
  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div>
</div>
