<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <atlas-api-call 
      endpoint="{{vm.apiData.results.hoofdadres._links.self.href}}"
      partial="bag/nummeraanduiding">
    </atlas-api-call>

    <div class="detail-page__content--sidebar" ng-if="vm.apiData.results">
      <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
    </div>

      <atlas-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></atlas-straatbeeld-thumbnail>

    <!-- ligplaats -->
    <atlas-partial-select partial="bag/ligplaats" api-data="vm.apiData"></atlas-partial-select>

  </div>
</div>