<dp-plugin-detail-visuals api-data="vm.apiData" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <div
      class="detail-page__content"
      ng-include="'./plugins/plugin-detail/templates/bag/includes/nummeraanduiding.html'"
      onload="object=vm.apiData">
    </div>


    <!-- verblijfsobject -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="vm.apiData.type === 'Verblijfsobject'"
      object="false"
      href="vm.apiData.verblijfsobject"
      page="'verblijfsobject.html'">
    </dp-plugin-detail-partial>


    <!-- standplaats -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="vm.apiData.type === 'Standplaats'"
      object="false"
      href="vm.apiData.standplaats"
      page="'standplaats.html'">
    </dp-plugin-detail-partial>


    <!-- ligplaats -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="vm.apiData.type === 'Ligplaats'"
      object="false"
      href="vm.apiData.ligplaats"
      page="'ligplaats.html'">
    </dp-plugin-detail-partial>
  </div>
  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div>
</div>
