<div>
    <div class="u-row">
        <atlas-stelselpedia-header
            heading="{{vm.apiData.results.naam}}"
            definition="OPENBARE_RUIMTE"
            meta-data="vm.apiData">
        </atlas-stelselpedia-header>

        <dl class="c-key-value-list">
            <dt>Naam 24-posities (NEN)</dt>
            <dd>{{ vm.apiData.results.naam_24_posities }}</dd>
            <dt>Naam 17-posities (post)</dt>
            <dd>{{ vm.apiData.results.naam_17_posities }}</dd>
            <dt>Woonplaats</dt>
            <dd><dp-link type="FETCH_DETAIL" payload="vm.apiData.results.woonplaats._links.self.href">{{ vm.apiData.results.woonplaats._display }}</dp-link></dd>
            <dt>Type</dt>
            <dd>{{ vm.apiData.results.type }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status.omschrijving }}</dd>
        </dl>
    </div>

    <div class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <div ng-if="vm.apiData.results.adressen.count" class="u-row">
        <atlas-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></atlas-stelselpedia-header>

        <atlas-api-call endpoint="{{vm.apiData.results.adressen.href}}" partial="adressen_lijst"></atlas-api-call>
    </div>
</div>
