<div>
    <div class="u-row">
        <atlas-stelselpedia-header
            heading="{{vm.apiData.results._display}}"
            definition="PAND"
            meta-data="vm.apiData">
        </atlas-stelselpedia-header>

        <dl class="c-key-value-list">
            <dt>Oorspronkelijk bouwjaar</dt>
            <dd ng-if="vm.apiData.results.bouwjaar !== 1005">{{ vm.apiData.results.oorspronkelijk_bouwjaar }}</dd>
            <dd ng-if="vm.apiData.results.bouwjaar === 1005">onbekend</dd>
            <dt>Naam</dt>
            <dd>{{ vm.apiData.results.pandnummer }}</dd>
            <dt>Status</dt>
            <dd>{{ vm.apiData.results.status.omschrijving }}</dd>
        </dl>
    </div>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <div ng-if="vm.apiData.results.verblijfsobjecten.count">
        <atlas-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></atlas-stelselpedia-header>

        <atlas-api-call endpoint="{{vm.apiData.results.verblijfsobjecten.href}}" partial="adressen_lijst"></atlas-api-call>
    </div>
</div>
