<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      object="false"
      href="vm.apiData.hoofdadres._links.self.href"
      page="'nummeraanduiding.html'">
    </dp-plugin-detail-partial>

    <atlas-api-call 
      endpoint="vm.apiData.hoofdadres._links.self.href"
      partial="bag/nummeraanduiding">
    </atlas-api-call>

    <!-- standplaats -->
    <atlas-partial-select partial="bag/standplaats" api-data="vm.apiData"></atlas-partial-select>

  </div>
  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div>
</div>
