<div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <atlas-api-call 
        endpoint="{{vm.apiData.results.hoofdadres._links.self.href}}"
        partial="bag/nummeraanduiding">
    </atlas-api-call>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <dp-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>

    <!-- standplaats -->
    <atlas-partial-select partial="bag/standplaats" api-data="vm.apiData"></atlas-partial-select>

</div>
