<dp-plugin-detail-visuals api-data="vm.apiData" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      object="false"
      href="vm.apiData.hoofdadres._links.self.href"
      page="'nummeraanduiding.html'">
    </dp-plugin-detail-partial>

    <!-- verbijfsobject -->
    <div
      class="detail-page__content"
      ng-include="'./plugins/plugin-detail/templates/bag/includes/verblijfsobject.html'"
      onload="object=vm.apiData">
    </div>
  </div>
  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div>
</div>

