<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <atlas-api-call
      endpoint="{{vm.apiData.results.hoofdadres._links.self.href}}"
      partial="bag/nummeraanduiding">
    </atlas-api-call>

    <!-- verbijfsobject -->
    <atlas-partial-select partial="bag/verblijfsobject" api-data="vm.apiData"></atlas-partial-select>

  </div>
<!--   <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div> -->
</div>
