<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData.naam}}"
        definition="WOONPLAATS"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
          <dt>Naam 17-posities (post)</dt>
          <dd>{{ vm.apiData.naam_17_posities}}</dd>
          <dt>Gemeente</dt>
          <dd>{{ vm.apiData.gemeente._display }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="vm.apiData.openbare_ruimtes.count">
      <dp-stelselpedia-header definition="OPENBARE_RUIMTE" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.openbare_ruimtes.href" partial="adressen_lijst"></atlas-api-call>
    </div>
  </div>
</div>

