<dp-plugin-detail-visuals api-data="object" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <!-- nummeraanduiding -->
    <div
      class="detail-page__content"
      ng-include="'./plugins/plugin-detail/templates/bag/includes/nummeraanduiding.html'"
      onload="object=object">
    </div>


    <!-- verblijfsobject -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="object.type === 'Verblijfsobject'"
      object="false"
      href="object.verblijfsobject"
      page="'verblijfsobject.html'">
    </dp-plugin-detail-partial>


    <!-- standplaats -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="object.type === 'Standplaats'"
      object="false"
      href="object.standplaats"
      page="'standplaats.html'">
    </dp-plugin-detail-partial>


    <!-- ligplaats -->
    <dp-plugin-detail-partial
      class="detail-page__content"
      ng-if="object.type === 'Ligplaats'"
      object="false"
      href="object.ligplaats"
      page="'ligplaats.html'">
    </dp-plugin-detail-partial>
  </div>
  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="object"></dp-parent-relations>
  </div>
</div>
