<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{object.naam}}"
        definition="OPENBARE_RUIMTE"
        meta-data="object">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Naam 24-posities (NEN)</dt>
        <dd>{{ object.naam_24_posities }}</dd>
        <dt>Naam 17-posities (post)</dt>
        <dd>{{ object.naam_17_posities }}</dd>
        <dt>Woonplaats</dt>
        <dd><a dp-api-link="{{object.woonplaats._links.self.href}}">{{ object.woonplaats._display }}</a></dd>
        <dt>Type:</dt>
        <dd>{{ object.type }}</dd>
        <dt>Status:</dt>
        <dd>{{ object.status.omschrijving }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="object.adressen.count">
      <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list href="object.adressen.href" page="'adressen_lijst'"></dp-plugin-detail-list>
    </div>
  </div>
</div>
