<dp-plugin-detail-visuals api-data="vm.apiData" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData.naam}}"
        definition="OPENBARE_RUIMTE"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Naam 24-posities (NEN)</dt>
        <dd>{{ vm.apiData.naam_24_posities }}</dd>
        <dt>Naam 17-posities (post)</dt>
        <dd>{{ vm.apiData.naam_17_posities }}</dd>
        <dt>Woonplaats</dt>
        <dd><a dp-api-link="{{vm.apiData.woonplaats._links.self.href}}">{{ vm.apiData.woonplaats._display }}</a></dd>
        <dt>Type:</dt>
        <dd>{{ vm.apiData.type }}</dd>
        <dt>Status:</dt>
        <dd>{{ vm.apiData.status.omschrijving }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="vm.apiData.adressen.count">
      <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list href="vm.apiData.adressen.href" page="'adressen_lijst'"></dp-plugin-detail-list>
    </div>
  </div>
</div>
