<dp-plugin-detail-visuals api-data="object" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{object._display}}"
        definition="PAND"
        meta-data="object">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Oorspronkelijk bouwjaar</dt>
        <dd ng-if="object.bouwjaar !== 1005">{{ object.oorspronkelijk_bouwjaar }}</dd>
        <dd ng-if="object.bouwjaar === 1005">onbekend</dd>
        <dt>Naam</dt>
        <dd>{{ object.pandnummer }}</dd>
        <dt>Status</dt>
        <dd>{{ object.status.omschrijving }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="object.verblijfsobjecten.count">
      <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list href="object.verblijfsobjecten.href" page="'adressen_lijst'"></dp-plugin-detail-list>
    </div>
  </div>

  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="object"></dp-parent-relations>
  </div>
</div>
