.status-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: $statusbar-height;
  padding: $base-whitespace;
  background-color: $secondary-gray60;
  color: $primary-light;
  line-height: $statusbar-height / 2;
  z-index: 2;
}