.c-toggle-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  width: $button-size;
  height: $button-size;
  cursor: pointer;
  z-index: 2;
}

.c-toggle-fullscreen__icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}