.c-toggle-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.c-toggle-fullscreen__icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}