/*
@name Grid
@markup
  <div class="u-grid">
    <div class="u-row">
      <div class="u-col-sm--6">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--6</p>
      </div>
      <div class="u-col-sm--6">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--6</p>
      </div>
    </div>
    <div class="row">
      <div class="u-col-sm--8">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--8</p>
      </div>
      <div class="u-col-sm--4">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--4</p>
      </div>
    </div>
    <div class="row">
      <div class="u-col-sm--8">
        <div class="row">
          <div class="u-col-sm--12 u-col-md--6">
            <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-md--6 (nested)</p>
          </div>
          <div class="u-col-sm--12 u-col-md--6">
            <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-md--6 (nested)</p>
          </div>
        </div>
      </div>
      <div class="u-col-sm--4">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--4</p>
      </div>
    </div>
  </div>
*/
.u-grid {
  .u-row {
    &::after {
      @extend %clearfix;
    }

    [class*="u-col-"] {
      position: relative;
      min-height: 1px;
      float: left;
    }

    @media (min-width: $breakpoint-sm) {
      .u-col-sm--1 { width: 1 * 100% / 12;}
      .u-col-sm--2 { width: 2 * 100% / 12;}
      .u-col-sm--3 { width: 3 * 100% / 12;}
      .u-col-sm--4 { width: 4 * 100% / 12;}
      .u-col-sm--5 { width: 5 * 100% / 12;}
      .u-col-sm--6 { width: 6 * 100% / 12;}
      .u-col-sm--7 { width: 7 * 100% / 12;}
      .u-col-sm--8 { width: 8 * 100% / 12;}
      .u-col-sm--9 { width: 9 * 100% / 12;}
      .u-col-sm--10 { width: 10 * 100% / 12;}
      .u-col-sm--11 { width: 11 * 100% / 12;}
      .u-col-sm--12 { width: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-md) {
      .u-col-md--1 { width: 1 * 100% / 12;}
      .u-col-md--2 { width: 2 * 100% / 12;}
      .u-col-md--3 { width: 3 * 100% / 12;}
      .u-col-md--4 { width: 4 * 100% / 12;}
      .u-col-md--5 { width: 5 * 100% / 12;}
      .u-col-md--6 { width: 6 * 100% / 12;}
      .u-col-md--7 { width: 7 * 100% / 12;}
      .u-col-md--8 { width: 8 * 100% / 12;}
      .u-col-md--9 { width: 9 * 100% / 12;}
      .u-col-md--10 { width: 10 * 100% / 12;}
      .u-col-md--11 { width: 11 * 100% / 12;}
      .u-col-md--12 { width: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-lg) {
      .u-col-lg--1 { width: 1 * 100% / 12;}
      .u-col-lg--2 { width: 2 * 100% / 12;}
      .u-col-lg--3 { width: 3 * 100% / 12;}
      .u-col-lg--4 { width: 4 * 100% / 12;}
      .u-col-lg--5 { width: 5 * 100% / 12;}
      .u-col-lg--6 { width: 6 * 100% / 12;}
      .u-col-lg--7 { width: 7 * 100% / 12;}
      .u-col-lg--8 { width: 8 * 100% / 12;}
      .u-col-lg--9 { width: 9 * 100% / 12;}
      .u-col-lg--10 { width: 10 * 100% / 12;}
      .u-col-lg--11 { width: 11 * 100% / 12;}
      .u-col-lg--12 { width: 12 * 100% / 12;}
    }
  }
}