/*
@name Grid offset
@markup
  <div class="u-grid">
    <div class="u-row">
      <div class="u-col-sm--8">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--8</p>
      </div>
      <div class="u-col-sm--3 u-col-sm--offset-1">
        <p class=".u-background-u-color__secondary--gray10 u-padding--1">.u-col-sm--3.u-col-sm--offset-1</p>
      </div>
    </div>
  </div>
*/
.u-grid {
  .u-row {
    @media (min-width: $breakpoint-sm) {
      .u-col-sm--offset-1 { margin-left: 1 * 100% / 12;}
      .u-col-sm--offset-2 { margin-left: 2 * 100% / 12;}
      .u-col-sm--offset-3 { margin-left: 3 * 100% / 12;}
      .u-col-sm--offset-4 { margin-left: 4 * 100% / 12;}
      .u-col-sm--offset-5 { margin-left: 5 * 100% / 12;}
      .u-col-sm--offset-6 { margin-left: 6 * 100% / 12;}
      .u-col-sm--offset-7 { margin-left: 7 * 100% / 12;}
      .u-col-sm--offset-8 { margin-left: 8 * 100% / 12;}
      .u-col-sm--offset-9 { margin-left: 9 * 100% / 12;}
      .u-col-sm--offset-10 { margin-left: 10 * 100% / 12;}
      .u-col-sm--offset-11 { margin-left: 11 * 100% / 12;}
      .u-col-sm--offset-12 { margin-left: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-md) {
      .u-col-md--offset-1 { margin-left: 1 * 100% / 12;}
      .u-col-md--offset-2 { margin-left: 2 * 100% / 12;}
      .u-col-md--offset-3 { margin-left: 3 * 100% / 12;}
      .u-col-md--offset-4 { margin-left: 4 * 100% / 12;}
      .u-col-md--offset-5 { margin-left: 5 * 100% / 12;}
      .u-col-md--offset-6 { margin-left: 6 * 100% / 12;}
      .u-col-md--offset-7 { margin-left: 7 * 100% / 12;}
      .u-col-md--offset-8 { margin-left: 8 * 100% / 12;}
      .u-col-md--offset-9 { margin-left: 9 * 100% / 12;}
      .u-col-md--offset-10 { margin-left: 10 * 100% / 12;}
      .u-col-md--offset-11 { margin-left: 11 * 100% / 12;}
      .u-col-md--offset-12 { margin-left: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-lg) {
      .u-col-lg--offset-1 { margin-left: 1 * 100% / 12;}
      .u-col-lg--offset-2 { margin-left: 2 * 100% / 12;}
      .u-col-lg--offset-3 { margin-left: 3 * 100% / 12;}
      .u-col-lg--offset-4 { margin-left: 4 * 100% / 12;}
      .u-col-lg--offset-5 { margin-left: 5 * 100% / 12;}
      .u-col-lg--offset-6 { margin-left: 6 * 100% / 12;}
      .u-col-lg--offset-7 { margin-left: 7 * 100% / 12;}
      .u-col-lg--offset-8 { margin-left: 8 * 100% / 12;}
      .u-col-lg--offset-9 { margin-left: 9 * 100% / 12;}
      .u-col-lg--offset-10 { margin-left: 10 * 100% / 12;}
      .u-col-lg--offset-11 { margin-left: 11 * 100% / 12;}
      .u-col-lg--offset-12 { margin-left: 12 * 100% / 12;}
    }
  }
}