/*
@name Grid push & pull
@markup
  <div class="grid">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4">
        <p class=".u-background-color__secondary--gray10 u-p-1">.col-sm-8.col-sm-push-4</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <p class=".u-background-color__secondary--gray10 u-p-1">.col-sm-4.col-sm-pull-8</p>
      </div>
    </div>
  </div>
*/

.grid {
  .row {
    @media (min-width: $breakpoint-sm) {
      .col-sm-push-1 { left: 1 * 100% / 12;}
      .col-sm-push-2 { left: 2 * 100% / 12;}
      .col-sm-push-3 { left: 3 * 100% / 12;}
      .col-sm-push-4 { left: 4 * 100% / 12;}
      .col-sm-push-5 { left: 5 * 100% / 12;}
      .col-sm-push-6 { left: 6 * 100% / 12;}
      .col-sm-push-7 { left: 7 * 100% / 12;}
      .col-sm-push-8 { left: 8 * 100% / 12;}
      .col-sm-push-9 { left: 9 * 100% / 12;}
      .col-sm-push-10 { left: 10 * 100% / 12;}
      .col-sm-push-11 { left: 11 * 100% / 12;}
      .col-sm-push-12 { left: 12 * 100% / 12;}

      .col-sm-pull-1 { right: 1 * 100% / 12;}
      .col-sm-pull-2 { right: 2 * 100% / 12;}
      .col-sm-pull-3 { right: 3 * 100% / 12;}
      .col-sm-pull-4 { right: 4 * 100% / 12;}
      .col-sm-pull-5 { right: 5 * 100% / 12;}
      .col-sm-pull-6 { right: 6 * 100% / 12;}
      .col-sm-pull-7 { right: 7 * 100% / 12;}
      .col-sm-pull-8 { right: 8 * 100% / 12;}
      .col-sm-pull-9 { right: 9 * 100% / 12;}
      .col-sm-pull-10 { right: 10 * 100% / 12;}
      .col-sm-pull-11 { right: 11 * 100% / 12;}
      .col-sm-pull-12 { right: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-md) {
      .col-md-push-1 { left: 1 * 100% / 12;}
      .col-md-push-2 { left: 2 * 100% / 12;}
      .col-md-push-3 { left: 3 * 100% / 12;}
      .col-md-push-4 { left: 4 * 100% / 12;}
      .col-md-push-5 { left: 5 * 100% / 12;}
      .col-md-push-6 { left: 6 * 100% / 12;}
      .col-md-push-7 { left: 7 * 100% / 12;}
      .col-md-push-8 { left: 8 * 100% / 12;}
      .col-md-push-9 { left: 9 * 100% / 12;}
      .col-md-push-10 { left: 10 * 100% / 12;}
      .col-md-push-11 { left: 11 * 100% / 12;}
      .col-md-push-12 { left: 12 * 100% / 12;}

      .col-md-pull-1 { right: 1 * 100% / 12;}
      .col-md-pull-2 { right: 2 * 100% / 12;}
      .col-md-pull-3 { right: 3 * 100% / 12;}
      .col-md-pull-4 { right: 4 * 100% / 12;}
      .col-md-pull-5 { right: 5 * 100% / 12;}
      .col-md-pull-6 { right: 6 * 100% / 12;}
      .col-md-pull-7 { right: 7 * 100% / 12;}
      .col-md-pull-8 { right: 8 * 100% / 12;}
      .col-md-pull-9 { right: 9 * 100% / 12;}
      .col-md-pull-10 { right: 10 * 100% / 12;}
      .col-md-pull-11 { right: 11 * 100% / 12;}
      .col-md-pull-12 { right: 12 * 100% / 12;}
    }

    @media (min-width: $breakpoint-lg) {
      .col-lg-push-1 { left: 1 * 100% / 12;}
      .col-lg-push-2 { left: 2 * 100% / 12;}
      .col-lg-push-3 { left: 3 * 100% / 12;}
      .col-lg-push-4 { left: 4 * 100% / 12;}
      .col-lg-push-5 { left: 5 * 100% / 12;}
      .col-lg-push-6 { left: 6 * 100% / 12;}
      .col-lg-push-7 { left: 7 * 100% / 12;}
      .col-lg-push-8 { left: 8 * 100% / 12;}
      .col-lg-push-9 { left: 9 * 100% / 12;}
      .col-lg-push-10 { left: 10 * 100% / 12;}
      .col-lg-push-11 { left: 11 * 100% / 12;}
      .col-lg-push-12 { left: 12 * 100% / 12;}

      .col-lg-pull-1 { right: 1 * 100% / 12;}
      .col-lg-pull-2 { right: 2 * 100% / 12;}
      .col-lg-pull-3 { right: 3 * 100% / 12;}
      .col-lg-pull-4 { right: 4 * 100% / 12;}
      .col-lg-pull-5 { right: 5 * 100% / 12;}
      .col-lg-pull-6 { right: 6 * 100% / 12;}
      .col-lg-pull-7 { right: 7 * 100% / 12;}
      .col-lg-pull-8 { right: 8 * 100% / 12;}
      .col-lg-pull-9 { right: 9 * 100% / 12;}
      .col-lg-pull-10 { right: 10 * 100% / 12;}
      .col-lg-pull-11 { right: 11 * 100% / 12;}
      .col-lg-pull-12 { right: 12 * 100% / 12;}
    }
  }
}