<!DOCTYPE html>
<html ng-app="atlas">
    <head>
        <meta charset="utf-8">
        <title>Atlas protoype</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

        <script src="bower_components/redux/index.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <!--script src="bower_components/angular-route/angular-route.js"></script-->
        <!--script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script-->

        <script src="app.module.js"></script>
        <script src="app.config.js"></script>
        <script src="app.vendor.js"></script>

        <script src="atlas.controller.js"></script>

        <script src="application-state/redux/store.factory.js"></script>
        <script src="application-state/redux/reducer.factory.js"></script>
        <script src="application-state/redux/url-middleware.factory.js"></script>
        <script src="application-state/routing/state-to-url.service.js"></script>
        <script src="application-state/routing/url-to-state.service.js"></script>
        <script src="application-state/routing/url-to-state.run.js"></script>
        <script src="application-state/link/link.component.js"></script>

        <!--script src="components/api/api.service.js"></script-->

        <script src="components/header/header.component.js"></script>
        <script src="components/layer-selection/layer-selection.component.js"></script>
        <script src="components/map/map.component.js"></script>
        <script src="components/page/page.component.js"></script>
        <script src="components/detail/detail.component.js"></script>
        <script src="components/search-results/search-results.component.js"></script>
        <script src="components/straatbeeld/straatbeeld.component.js"></script>

        <script src="components/ui/panel/panel.component.js"></script>
    </head>
    <body style="padding-top:20px;" ng-controller="AtlasController as vm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <dp-panel heading="Header">
                        <dp-header></dp-header>
                    </dp-panel>
                </div>
            </div>
            <div class="row">
                <div ng-if="vm.sizeLeftColumn" class="col-xs-{{vm.sizeLeftColumn}}">
                    <dp-panel heading="Layers">
                        <dp-layers></dp-layers>
                    </dp-panel>
                </div>
                <div class="col-xs-{{vm.sizeMiddleColumn}}">
                    <dp-panel heading="Map">
                        <dp-map></dp-map>
                    </dp-panel>
                </div>
                <div ng-if="vm.sizeRightColumn" class="col-xs-{{vm.sizeRightColumn}}">
                    <dp-panel ng-if="vm.showDetail" heading="Detail">
                        <dp-detail></dp-detail>
                    </dp-panel>

                    <dp-panel ng-if="vm.showPage" heading="Page">
                        <dp-page></dp-page>
                    </dp-panel>

                    <dp-panel ng-if="vm.showSearchResults" heading="Search results">
                        <dp-search-results></dp-search-results>
                    </dp-panel>

                    <dp-panel ng-if="vm.showStraatbeeld" heading="Straatbeeld">
                        <dp-straatbeeld></dp-straatbeeld>
                    </dp-panel>
                </div>
            </div>
        </div>
    </body>
</html>