.map-statusbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: $statusbar-height;
  background-color: $secondary-gray60;
}

.layers-labels {
  position: relative;
  width: $layers-label-width;
  height: $layers-label-height;

  float: right;
  color: $primary-light;

  font-family: $header-font-family;
  font-weight: bold;

  text-align: center;
  z-index: 1000;

  &.show {
    bottom: $layers-label-height + $statusbar-height;
  }

  &.hide {
    bottom: 0;
  }

  .header {
    height: $statusbar-height;
    background-color: $secondary-gray60;
    font-size: .8rem;
    text-align: right;
    cursor: pointer;
  }

  .overlays {
    height: 100%;
    padding-left: 1rem;
    background-color: $primary-light;
    color: $primary-dark;
    font-weight: normal;
    text-align: left;
    overflow: scroll;

    .legenda-item {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }

    .legenda-item-toggle {
      margin-right: .5rem;
    }

    .legenda-item-title {
      padding-bottom: .1rem;
    }
  }

  .edit-overlayes {
    position: relative;
    top: .2rem;
    margin-right: 1rem;
    float: right;
    background-color: $secondary-gray60;
    color: $primary-light;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.layers-label-title {
  margin-right: 1rem;
}

.layers-label-icon {
  display: inline-block;
  position: relative;
  width: 1.1em;
  height: 1.1em;
  background-color: $primary-contrast;
  font-size: 1.6em;
}
