<div class="map-statusbar">
    <div class="layers-labels" ng-class="{true:'show', flase:'hide'}[vm.visible]">
        <div class="header" ng-click="vm.switchLegendPane()">
            <button class="layers-label-icon" >{{ vm.buttonStatus }}</button>
            <span class="layers-label-title">Kaartlagen<span>
            <span ng-if="vm.activeLayers > 0">
                <span>(</span><span ng-if="vm.visibleLayers != vm.activeLayers">{{ vm.visibleLayers }}/</span><span>{{ vm.activeLayers }})</span>
            </span>
        </div>
        <ul class="overlays">
        	<li>
        		<dp-overlay-legenda ng-repeat="overlay in vm.overlays track by overlay.id" overlay="overlay" zoom="vm.zoom"></dp-overlay-legenda>
        	</li>
        </ul>
        <div class="edit-overlayes" ng-class="{true:'show', flase:'hide'}[vm.visible]">
            <dp-link type="SHOW_LAYER_SELECTION" class-name="edit-overlayes">&gt; Toevoegen / verwijderen</dp-link>
        </div>
    </div>
</div>
