<div class="map-statusbar">
    <div class="layers-labels" ng-class="{true:'show', flase:'hide'}[statusbar.visible]">
        <div class="header" ng-click="statusbar.switchLegendPane()">
            <button class="layers-label-icon" >{{ statusbar.buttonStatus }}</button>
            <span class="layers-label-title">Kaartlagen ({{ statusbar.visibleLayers }}/{{ statusbar.activeLayers }})</span>
        </div>
        <ul class="overlays">
        	<li>
        		<dp-overlay-legenda ng-repeat="(overlay, visibile) in statusbar.overlays" overlay="overlay" visible="visible"></dp-overlay-legenda>
        	</li>
        </ul>
        <div class="edit-overlayes" ng-class="{true:'show', flase:'hide'}[statusbar.visible]">
            <dp-link type="SHOW_LAYER_SELECTION" class-name="edit-overlayes">&gt; Toevoegen / verwijderen</dp-link>
        </div>
    </div>
</div>
