<div class="map-statusbar">
    <div class="layers-labels" ng-class="{true:'show', false:'hide'}[vm.visible]">
        <button class="header" ng-click="vm.switchLegendPane()">
            <div class="layers-label-icon" >
                <img ng-src="/assets/icons/{{ vm.buttonStatus }}.svg">
            </div>
            <span class="layers-label-title">Kaartlagen<span>
            <span ng-if="vm.activeLayers > 0" class="qa-show-layers-count">
                <span>(</span><span ng-if="vm.visibleLayers != vm.activeLayers" class="qa-show-visible-layers-count">{{ vm.visibleLayers }}/</span><span class="qa-show-active-layers-count">{{ vm.activeLayers }})</span>
            </span>
        </button>
        <ul class="overlays">
        	<li>
        		<dp-overlay-legenda ng-repeat="overlay in vm.overlays track by overlay.id" overlay="overlay" zoom="vm.zoom"></dp-overlay-legenda>
        	</li>
        </ul>
        <div class="edit-overlayes" ng-class="{true:'show', flase:'hide'}[vm.visible]">
            <dp-link type="SHOW_LAYER_SELECTION" class-name="edit-overlayes">&gt; Toevoegen / verwijderen</dp-link>
        </div>
    </div>
    <div class="js-leaflet-measure"></div>
</div>
