<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData.code}}"
        definition="BOUWBLOK"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>
    </div>

    <div class="list-box" ng-if="vm.apiData.panden.count">
      <dp-stelselpedia-header definition="PAND" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.panden.href" partial="lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.meetbouten">
      <dp-stelselpedia-header definition="MEETBOUT" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.meetbouten" partial="lijst"></atlas-api-call>
    </div>
  </div>

<!--   <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div> -->
</div>
