<div>
    <div class="default-box">
        <atlas-stelselpedia-header
            heading="{{vm.apiData.results.code}}"
            definition="BOUWBLOK"
            meta-data="vm.apiData">
        </atlas-stelselpedia-header>
    </div>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
        </div>
        <div class="u-col-sm--6">
            <atlas-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></atlas-straatbeeld-thumbnail>
        </div>
    </div>

    <div class="list-box" ng-if="vm.apiData.results.panden.count">
        <atlas-stelselpedia-header definition="PAND" use-plural="true"></atlas-stelselpedia-header>

        <atlas-api-call endpoint="{{vm.apiData.results.panden.href}}" partial="lijst"></atlas-api-call>
    </div>

    <div ng-if="vm.apiData.results.meetbouten">
        <atlas-stelselpedia-header definition="MEETBOUT" use-plural="true"></atlas-stelselpedia-header>

        <atlas-api-call endpoint="{{vm.apiData.results.meetbouten}}" partial="lijst"></atlas-api-call>
    </div>
</div>

