<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <atlas-stelselpedia-header
        heading="{{vm.apiData.results.code}}"
        definition="BOUWBLOK"
        meta-data="vm.apiData">
      </atlas-stelselpedia-header>
    </div>

    <div class="detail-page__content--sidebar" ng-if="vm.apiData.results">
      <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
    </div>

    <div class="list-box" ng-if="vm.apiData.results.panden.count">
      <atlas-stelselpedia-header definition="PAND" use-plural="true"></atlas-stelselpedia-header>

      <atlas-api-call endpoint="{{vm.apiData.results.panden.href}}" partial="lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.results.meetbouten">
      <atlas-stelselpedia-header definition="MEETBOUT" use-plural="true"></atlas-stelselpedia-header>

      <atlas-api-call endpoint="{{vm.apiData.results.meetbouten}}" partial="lijst"></atlas-api-call>
    </div>
  </div>
</div>
