<div>
    <div class="u-row">
      <atlas-stelselpedia-header
        heading="{{vm.apiData.results.naam}}"
        definition="BUURTCOMBINATIE"
        meta-data="vm.apiData">
      </atlas-stelselpedia-header>

      <dl class="c-key-value-list">
        <dt>Volledige code</dt>
        <dd>{{ vm.apiData.results.code }}</dd>
      </dl>
    </div>

    <div ng-if="vm.apiData.results" class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <atlas-parent-relations content="vm.apiData.results"></atlas-parent-relations>
        </div>
    </div>

    <div ng-if="vm.apiData.results.buurten.count">
      <atlas-stelselpedia-header definition="BUURT" use-plural="true"></atlas-stelselpedia-header>

      <atlas-api-call endpoint="{{vm.apiData.results.buurten.href}}" partial="lijst"></atlas-api-call>
    </div>

    <atlas-bbga-graphs
      gebied-heading="{{vm.apiData.results.naam}}"
      gebied-code="{{vm.apiData.results.volledige_code}}">
    </atlas-bbga-graphs>
</div>