<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header heading="{{vm.apiData.naam}}" definition="BUURT" meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Volledige code</dt>
        <dd>{{ vm.apiData.volledige_code }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="vm.apiData.bouwblokken.count">
      <dp-stelselpedia-header definition="BOUWBLOK" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.bouwblokken.href" partial="lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.ligplaatsen.count">
      <dp-stelselpedia-header definition="LIGPLAATS" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.ligplaatsen.href" partial="adressen_lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.standplaatsen.count">
      <dp-stelselpedia-header definition="STANDPLAATS" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.standplaatsen.href" partial="adressen_lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.verblijfsobjecten.count">
      <dp-stelselpedia-header definition="VERBLIJFSOBJECT" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.verblijfsobjecten.href" partial="adressen_lijst"></atlas-api-call>
    </div>

    <dp-bbga-graphs
      gebied-heading="{{vm.apiData.naam}}"
      gebied-code="{{vm.apiData.volledige_code}}">
    </dp-bbga-graphs>
  </div>

<!--   <div class="detail-page__content--sidebar">
    <dp-parent-relations content="vm.apiData"></dp-parent-relations>
  </div> -->
</div>
