<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header heading="{{vm.apiData.naam}}" definition="GEBIEDSGERICHTWERKEN">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Code</dt>
        <dd>{{ vm.apiData.code }}</dd>
        <dt>Stadsdeel</dt>
        <dd><dp-link type="FETCH_DETAIL" payload="vm.apiData.stadsdeel._links.self.href">{{ vm.apiData.stadsdeel._display }}</dp-link></dd>
      </dl>

<!--       <dp-bbga-graphs
        gebied-heading="{{vm.apiData.naam}}"
        gebied-code="{{vm.apiData.code}}">
      </dp-bbga-graphs> -->
    </div>
  </div>
</div>
