<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData.naam}}"
        definition="STADSDEEL"
        meta-data="vm.apiData">

      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Code</dt>
        <dd>{{ vm.apiData.code }}</dd>
        <dt>Gemeente</dt>
        <dd>{{ vm.apiData.gemeente._display }}</dd>
      </dl>

    </div>

    <div class="list-box" ng-if="vm.apiData.buurtcombinaties.count">
      <dp-stelselpedia-header definition="BUURTCOMBINATIE" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.buurtcombinaties.href" partial="lijst"></atlas-api-call>
    </div>

    <div class="list-box" ng-if="vm.apiData.gebiedsgerichtwerken.count">
      <dp-stelselpedia-header definition="GEBIEDSGERICHTWERKEN" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.gebiedsgerichtwerken.href" partial="lijst"></atlas-api-call>
    </div>

    <dp-bbga-graphs
      gebied-heading="{{vm.apiData.naam}}"
      gebied-code="{{vm.apiData.code}}">
    </dp-bbga-graphs>
  </div>
</div>
