.btn {
  &.btn-red {

  }

  /*
  @name Button w/ link styling
  @markup
    <button class="btn btn-link">Lorem ipsum</button>
  */
  &.btn-link {
    background-color:transparent;
    color:$red;
    font-size:inherit;
    text-decoration:underline;
    cursor:pointer;
  }
}