/*
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Naam 24-posities (NEN)</th>
      <td>Agatha Dekenstraat</td>
    </tr>
    <tr>
      <th scope="row">Naam 17-posities (post)</th>
      <td>A DEKENSTR</td>
    </tr>
    <tr>
      <th scope="row">Woonplaats</th>
      <td>Amsterdam</td>
    </tr>
  </tbody>
</table>
*/
.table {
  width:100%;
  margin-bottom:2 * $whitespace-base;

  th {
    text-align:left;
  }

  th,
  td {
    border-top:1px solid $gray;
    padding-top:$whitespace-base / 2;
    padding-bottom:$whitespace-base / 2;
  }
}