.table {
  width:100%;
  border-spacing:0;
  margin-bottom:2 * $whitespace-base;

  th {
    text-align:left;
  }

  th,
  td {
    border-top:1px solid $gray;
    padding-top:$whitespace-base / 2;
    padding-bottom:$whitespace-base / 2;
  }
}