.c-toggle-active-overlays {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 26px;
  text-align: left;
  cursor: pointer;
  z-index: 2;
}

.c-toggle-active-overlays__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  transform: rotate(270deg);
}

.c-toggle-active-overlays__icon--mirrored {
  transform: rotate(90deg);
}

.c-toggle-active-overlays__text {
  position: absolute;
  top: 0;
  left: 26px;
  min-width: 98px;
  height: 26px;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: $secondary-gray40;
  background-color: $primary-light;
  line-height: 24px;
}