<div ng-if="vm.showActiveOverlays" class="c-active-overlays">
    <dp-link type="SHOW_LAYER_SELECTION">Kaartlaag selectie aanpassen</dp-link>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
    Het is zichtbaar! jeuh!<br>
</div>