/*
This CSS is used to overrule the third party CSS of leaflet-measure. We don't own the HTML code, we just add a class to
the parent div of leaflet-measure.
*/

.s-leaflet-measure {
  @include font-size($body-font);
  position: absolute;
  right: $base-whitespace;
  bottom: $base-whitespace;
  background-color: transparent;
  color: $primary-dark;
  z-index: 5;

  .leaflet-control-measure-toggle {
    width: 26px;
    height: 26px;
    border-radius: 0;
    background-image: url("assets/icons/icon-measure.png");
    color: $primary-contrast;
  }
}

.leaflet-control-measure-interaction {
  float: right;
  background-color: $primary-light;

  h3 {
    //Overruling _typography.scss
    padding-top: 0;
  }
}


//This is the popup that opens when finishing a measurement
.leaflet-measure-resultpopup {
  @include font-size($body-font);

  h3 {
    //Overruling _typography.scss
    padding-top: 0;
  }
}