<h3 class="o-header__subtitle">Panorama</h3>
<button class="u-block u-width-100 u-padding__top--1 u-text-align--left" ng-click="vm.openStraatbeeld()">
    <div class="u-aspect-ratio u-aspect-ratio--16-9">
        <dp-loading-indicator is-loading="vm.isLoading" use-delay="false" show-inline="true"></dp-loading-indicator>

        <img ng-if="vm.imageUrl" ng-src="{{vm.imageUrl}}" alt="Straatbeeld preview">

        <p ng-if="!vm.isLoading && !vm.imageUrl">Geen straatbeeld beschikbaar.</p>
    </div>
</button>
