@import "tevredenheid/_bbga-tevredenheid";

.bbga__heading {
  font-family: verdana, sans-serif;
  margin-top:24px;
  margin-bottom:6px;
}

.bbga__intro {
  font-family: 'Liberation sans', sans-serif;
  font-size:13px;
  margin-bottom:24px;
}

.ois {
  font-family: 'Liberation sans', sans-serif;
  font-size:13px;
  max-width: 100%;
  background-color: @secondary-gray60;
  margin-bottom:40px;
}

.ois__paragraph {
  box-sizing: border-box;
  padding: 0 16px;
  width: 50%;
  font-size:13px;
  color: @primary-light;
}

.ois__link {
  padding: 0 16px;
  color: @primary-light;
  font-weight: bold;
  &:hover {
    color: @primary-light;
    text-decoration: underline;
  }
}

.ois__img {
  display: inline;
  width: 35px;
  height: 35px;
  padding: 10px 16px;
  vertical-align: middle;
}
