.straatbeeld-metadata {
  position: absolute;
  right: $base-whitespace;
  bottom: 0;
  left: $base-whitespace;
  height: 40px;
  padding: $base-whitespace;
  background-color: $secondary-gray60;
  color: $primary-light;
  line-height: 20px;
  z-index: 2;
}