.straatbeeld-metadata {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 20px;
  padding: $base-whitespace;
  background-color: $gray-40;
  color: $white;
  z-index: 2;
}