.o-content-header {
  position: relative;
}

.o-content-header__title {
  padding-top: $base-whitespace !important; //ivm padding in font-size mixin;
}

.o-content-header__subtitle {
  display: block;
  padding-top: $base-whitespace * 2 !important; //ivm padding in font-size mixin
  color: $primary-contrast;

  .s-indented-list & {
    color: $primary-dark;
  }
}

.o-content-header__buttongroup {
  position: absolute;
  top: 20px;
  right: 0;
}

.o-content-header__button {
  width: 26px;
  height: 26px;
  margin-left: $base-whitespace;
  float: right;
}

.o-content-header__button--image {
  display: block;
  width: 100%;
  height: 100%;
}

.o-content-header__stelselpedia {
  background-image: url("assets/icons/stelselpedia.svg");

  &:hover {
    background-image: url("assets/icons/stelselpedia-hover.svg");
  }
}

.is-content-header__stelselpedia--active {
  background-image: url("assets/icons/stelselpedia-active.svg");

  &:hover {
    background-image: url("assets/icons/stelselpedia-hover.svg");
  }
}

.o-content-header__metadata {
  background-image: url("assets/icons/metadata.svg");

  &:hover {
    background-image: url("assets/icons/metadata-hover.svg");
  }
}

.is-content-header__metadata--active {
  background-image: url("assets/icons/metadata-active.svg");

  &:hover {
    background-image: url("assets/icons/metadata-hover.svg");
  }
}
