<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData._display}}"
        definition="KADASTRAAL_SUBJECT"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <!-- niet natuurlijke persoon -->
      <dl class="key-value-list" ng-if="vm.apiData.is_natuurlijk_persoon === false">
        <dt>Statutaire zetel</dt>
        <dd>{{ vm.apiData.statutaire_zetel }}</dd>
        <dt>Rechtsvorm</dt>
        <dd>{{ vm.apiData.rechtsvorm.omschrijving }}</dd>
        <dt>RSIN</dt>
        <dd>{{ vm.apiData.rsin }}</dd>
        <dt>KvK nummer</dt>
        <dd>{{ vm.apiData.kvknummer }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ vm.apiData.woonadres.openbareruimte_naam }} {{ vm.apiData.woonadres.huisnummer }}{{ vm.apiData.woonadres.huisletter }}{{ vm.apiData.woonadres.toevoeging }} {{ vm.apiData.woonadres.postcode }} {{ vm.apiData.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ vm.apiData.woonadres.buitenland_adres }} {{ vm.apiData.woonadres.buitenland_woonplaats }} {{ vm.apiData.woonadres.buitenland_naam }} {{ vm.apiData.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ vm.apiData.postadres.openbareruimte_naam }} {{ vm.apiData.postadres.huisnummer }}{{ vm.apiData.postadres.huisletter }}{{ vm.apiData.postadres.toevoeging }} {{ vm.apiData.postadres.postcode }} {{ vm.apiData.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ vm.apiData.postadres.buitenland_adres }} {{ vm.apiData.postadres.buitenland_woonplaats }} {{ vm.apiData.postadres.buitenland_naam }} {{ vm.apiData.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ vm.apiData.postadres.postbus_nummer }} {{ vm.apiData.postadres.postbus_postcode }} {{ vm.apiData.postadres.postbus_woonplaats }}
        </dd>
      </dl>

      <!-- natuurlijke persoon -->
      <dl class="key-value-list" ng-if="vm.apiData.is_natuurlijk_persoon === true">
        <dt>Voornamen</dt>
        <dd>{{ vm.apiData.voornamen }}</dd>
        <dt>Voorvoegsels</dt>
        <dd>{{ vm.apiData.voorvoegsels }}</dd>
        <dt>Geslachtsnaam</dt>
        <dd>{{ vm.apiData.naam }}</dd>
        <dt>Geslacht</dt>
        <dd>{{ vm.apiData.geslacht.omschrijving }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ vm.apiData.geboortedatum | dpDatum }}</dd>
        <dt>Geboorteplaats</dt>
        <dd>{{ vm.apiData.geboorteplaats }}</dd>
        <dt>Geboorteland</dt>
        <dd>{{ vm.apiData.geboorteland.omschrijving }}</dd>
        <dt>Datum van overlijden</dt>
        <dd>{{ vm.apiData.overlijdensdatum }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ vm.apiData.woonadres.openbareruimte_naam }} {{ vm.apiData.woonadres.huisnummer }}{{ vm.apiData.woonadres.huisletter }}{{ vm.apiData.woonadres.toevoeging }} {{ vm.apiData.woonadres.postcode }} {{ vm.apiData.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ vm.apiData.woonadres.buitenland_adres }} {{ vm.apiData.woonadres.buitenland_woonplaats }} {{ vm.apiData.woonadres.buitenland_naam }} {{ vm.apiData.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ vm.apiData.postadres.openbareruimte_naam }} {{ vm.apiData.postadres.huisnummer }}{{ vm.apiData.postadres.huisletter }}{{ vm.apiData.postadres.toevoeging }} {{ vm.apiData.postadres.postcode }} {{ vm.apiData.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ vm.apiData.postadres.buitenland_adres }} {{ vm.apiData.postadres.buitenland_woonplaats }} {{ vm.apiData.postadres.buitenland_naam }} {{ vm.apiData.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ vm.apiData.postadres.postbus_nummer }} {{ vm.apiData.postadres.postbus_postcode }} {{ vm.apiData.postadres.postbus_woonplaats }}
        </dd>
      </dl>
    </div>

    <div class="default-box" ng-if="vm.apiData.rechten.count">
      <dp-stelselpedia-header definition="ZAKELIJK_RECHT" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list page="'subject-rechten'" href="vm.apiData.rechten.href"></dp-plugin-detail-list>
    </div>
  </div>
</div>
