<div class="detail-page__content">
    <div class="detail-page__content--main">
        <div class="default-box">
            <atlas-stelselpedia-header heading="{{vm.apiData.results.id}}" definition="NAP_PEILMERK">
            </atlas-stelselpedia-header>

            <dl class="key-value-list">
                <dt>Hoogte NAP</dt>
                <dd>{{ vm.apiData.results.hoogte_nap }} m</dd>
                <dt>Jaar</dt>
                <dd>{{ vm.apiData.results.jaar }}</dd>
                <dt>Merk</dt>
                <dd>{{ vm.apiData.results.merk }}</dd>
                <dt>Omschrijving</dt>
                <dd>{{ vm.apiData.results.omschrijving }}</dd>
                <dt>Windrichting</dt>
                <dd>{{ vm.apiData.results.windrichting }}</dd>
                <dt>Muurvlak coördinaten</dt>
                <dd>{{ vm.apiData.results.x_muurvlak }}, {{ vm.apiData.results.y_muurvlak }}</dd>
                <dt>RWS nummer</dt>
                <dd>{{ vm.apiData.results.rws_nummer }}</dd>
            </dl>
        </div>

        <dp-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></dp-straatbeeld-thumbnail>
    </div>
</div>


