<div>
    <div class="u-row">
        <atlas-stelselpedia-header heading="{{vm.apiData.results.id}}" definition="NAP_PEILMERK">
        </atlas-stelselpedia-header>

        <dl class="c-key-value-list">
            <dt>Hoogte NAP</dt>
            <dd>{{ vm.apiData.results.hoogte_nap }} m</dd>
            <dt>Jaar</dt>
            <dd>{{ vm.apiData.results.jaar }}</dd>
            <dt>Merk</dt>
            <dd>{{ vm.apiData.results.merk }}</dd>
            <dt>Omschrijving</dt>
            <dd>{{ vm.apiData.results.omschrijving }}</dd>
            <dt>Windrichting</dt>
            <dd>{{ vm.apiData.results.windrichting }}</dd>
            <dt>Muurvlak coördinaten</dt>
            <dd>{{ vm.apiData.results.x_muurvlak }}, {{ vm.apiData.results.y_muurvlak }}</dd>
            <dt>RWS nummer</dt>
            <dd>{{ vm.apiData.results.rws_nummer }}</dd>
        </dl>
    </div>

    <div class="u-row">
        <div class="u-col-sm--6 u-padding__right--2">
            <dp-straatbeeld-thumbnail ng-if="vm.location" location="vm.location"></dp-straatbeeld-thumbnail>
        </div>
    </div>
</div>
