<div ng-if="vm.apiData" class="plugin-detail-visuals">
  <div class="plugin-detail-visuals__main">
    <a ui-sref="app({basiskaart: 'topografie', selectie: vm.uri})" ui-sref-options="{inherit: false})">
      <dp-map map-state="vm.mapStateTopo" is-interactive="false"></dp-map>
    </a>
  </div>

  <div class="plugin-detail-visuals__sidebar">
    <a
      ui-sref="^({basiskaart: 'luchtfoto_2015', selectie: vm.uri})"
      ng-class="{
        'plugin-detail-visuals__sidebar__luchtfoto--small': vm.hasStraatbeeld,
        'plugin-detail-visuals__sidebar__luchtfoto--large': !vm.hasStraatbeeld
        }">

      <dp-map map-state="vm.mapStateLufo" is-interactive="false"></dp-map>
    </a>

    <dp-plugin-detail-pano ng-if="vm.hasStraatbeeld && vm.coordinates" coordinates="vm.coordinates" uri="{{vm.uri}}"></dp-plugin-detail-pano>
  </div>
</div>
