<div class="u-row">
    <atlas-stelselpedia-header
        heading="{{vm.apiData.results._display}}"
        definition="MAC">
    </atlas-stelselpedia-header>

    <dl class="c-key-value-list">
        <dt>Handerlsnaam</dt>
        <dd> {{ vm.apiData.results.naam }} </dd>
        <dt>KvK-nummer</dt>
        <dd> {{ vm.apiData.results.kvk_nummer }} </dd>
        <dt>Bezoekadres hoofdvestiging</dt>
        <dd> {{ vm.apiData.results.bezoekadres.volledig_adres }} </dd>
        <dt>Type vestiging</dt>
        <dd> {{  }} </dd>
        <dt>Datum aanvang</dt>
        <dd> {{ vm.apiData.results.datum_aanvang }} </dd>
        <dt>Datum einde</dt>
        <dd> {{ vm.apiData.results.datum_einde }} </dd>
        <dt>Vestigingsnummer</dt>
        <dd> {{  }} </dd>
        <dt>SBI-code</dt>
        <dd> {{  }} </dd>
        <dt>Volledige naam</dt>
        <dd> {{  }} </dd>
        <dt>Rol</dt>
        <dd> {{  }} </dd>
        <dt>Functietitel</dt>
        <dd> {{  }} </dd>
        <dt>Soort bevoegdheid</dt>
        <dd> {{  }} </dd>
        <dt>Functie</dt>
        <dd> {{  }} </dd>
        <dt>Locatie op de kaart </dt>
        <dd>
            {{ vm.apiData.results.bezoekadres.geometry.coordinates[0] }}, {{ vm.apiData.results.bezoekadres.geometry.coordinates[1] }} 
        </dd>
        <dt>AdreseerbaarObjectID</dt>
        <dd> {{  }} </dd>
        <dt>Soort bijzondere rechtstoestand</dt>
        <dd> {{  }} </dd>
        <dt>Aanvangsdatum bijzondere rechtstoestand</dt>
        <dd> {{  }} </dd>
        <dt>Datum einde bijzondere rechtstoestand</dt>
        <dd> {{  }} </dd>
    </dl>
</div>