body,
button {
  @include font-size($body-font);
  font-family: $base-font-family;
}

h1 {
  @include font-size($xl-header-font);
}

h2 {
  @include font-size($l-header-font);
}

h3 {
  @include font-size($m-header-font);
}

h4,
h5,
h6 {
  @include font-size($s-header-font);
}