.tevredenheid {
  font-family: 'Liberation sans', sans-serif;
  font-size:13px;
  max-width: 500px;

  p {
    font-size:13px;
  }
}

.tevredenheid__legend {
  margin-top:0;
  width: 500px;
  height: 30px;
  font-weight: bold;


  .legend__amsterdam {
    width: 100px;
    float: right;
  }
  .legend__gebied {
    width: 394px;
    float: left;
    text-align: right;
  }

  .legend__label {
    position:relative;
    top:-1px;
  }

  .badge {
    top:0;
    left:0;
    width: 12px;
    height: 12px;
    padding:0;
  }
}

.tevredenheid__header,
.tevredenheid__subtitle {
  width: 350px;
  float: left;
}
.tevredenheid__header{
  color: @primary-contrast;
}
.tevredenheid__img {
  width: 60px;
  float: right;
  margin-top: 10px;
  margin-right: 75px;
}
