.bbga-tevredenheid__value {
  display: inline-block;
  padding-right: $base-whitespace / 2;
  padding-left: $base-whitespace / 2;
  color: $primary-light;
  font-weight: 700;
  line-height: $button-size;
}

.bbga-tevredenheid__value--amsterdam {
  background-color: $primary-contrast;
}

.bbga-tevredenheid__value--other {
  background-color: $thema-9;
}

.bbga-tevredenheid__legend {
  margin-bottom: $base-whitespace * 2;
  line-height: $button-size;
}

.bbga-tevredenheid__legend__square {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  margin-right: $base-whitespace;
  vertical-align: middle;
}
