<div class="u-grid" ng-if="vm.tableData.length">
    <div class="u-row">
        <div class="u-col-md--8 col-lg--6">
            <h3 class="o-header__subtitle">Tevredenheid cijfers {{vm.year}}</h3>
            <p>Gemiddeld rapportcijfer dat bewoners geven aan hun woonomgeving</p>

            <table class="o-table">
                <tr ng-repeat="row in vm.tableData">
                    <th scope="row">{{row.label}}</th>
                    <td>
                        <span class="bbga-tevredenheid__value u-background-color__thema--9">
                            {{row.data[0].waarde | number : 1}}
                        </span>
                    </td>
                    <td>
                        <span class="bbga-tevredenheid__value u-background-color__primary--contrast">
                            {{row.data[1].waarde | number : 1}}
                        </span>
                    </td>
                </tr>
            </table>

            <ul class="o-list">
                <li class="bbga-tevredenheid__legend">
                    <span class="bbga-tevredenheid__legend__square u-background-color__thema--9"></span>{{vm.gebiedHeading}}
                </li>
                <li class="bbga-tevredenheid__legend">
                    <span class="bbga-tevredenheid__legend__square u-background-color__primary--contrast"></span>Amsterdam
                </li>
            </ul>
        </div>
    </div>
</div>
