//Shared variables & mixins
@import "../shared/styles/config";

//Module specific variables
$site-header-height: 50px;
$search-form-height: $site-header-height - $base-whitespace * 2;

@import "components/header/header";
@import "components/menu-dropdown/menu-dropdown";
@import "components/search/search";