<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header heading="{{vm.apiData.id}}" definition="MEETBOUT"></dp-stelselpedia-header>

      <dl class="key-value-list">
          <dt>Status</dt>
          <dd>{{ vm.apiData.status }}</dd>
          <dt>Adres</dt>
          <dd>{{ vm.apiData.adres }}</dd>
          <dt>Locatie</dt>
          <dd>{{ vm.apiData.locatie }}</dd>
          <dt>Coördinaten</dt>
          <dd>{{ vm.apiData.geometrie.coordinates[0] }}, {{ vm.apiData.geometrie.coordinates[1] }}</dd>
          <dt>Bouwblok</dt>
          <dd><dp-link type="FETCH_DETAIL" payload="{{vm.apiData.bouwblok_link}}">{{ vm.apiData.bouwblok }}</dp-link></dd>
          <dt>Bouwblokzijde</dt>
          <dd>{{ vm.apiData.bouwblokzijde }}</dd>
          <dt>Bouwblokeenheid</dt>
          <dd>{{ vm.apiData.blokeenheid }}</dd>
          <dt>Stadsdeel</dt>
          <dd><<dp-link type="FETCH_DETAIL" payload="{{vm.apiData.stadsdeel_link}}">{{ vm.apiData.stadsdeel }}</dp-link></dd>
          <dt>Indicatie beveiligd</dt>
          <dd>{{ vm.apiData.beveiligd | dpYesno }}</dd>
      </dl>
    </div>

    <div class="list-box">
      <dp-stelselpedia-header definition="METING" use-plural="true"></dp-stelselpedia-header>

      <p ng-if="!vm.apiData.metingen.href">Geen metingen beschikbaar</p>

      <dp-plugin-detail-list
        object="false"
        href="vm.apiData.metingen.href"
        page="'metingen-tabel'">
      </dp-plugin-detail-list>

      <dp-plugin-detail-graph
        page-size="vm.apiData.metingen.count"
        href="{{vm.apiData.metingen.href}}">
      </dp-plugin-detail-graph>
    </div>

    <div>
      <dp-stelselpedia-header definition="ROLLAAG" use-plural="true"></dp-stelselpedia-header>

      <p ng-if="!vm.apiData.rollaag">Geen rollaag tekening beschikbaar</p>

      <dp-plugin-detail-partial
        ng-if="vm.apiData.rollaag"
        object="false"
        href="vm.apiData.rollaag"
        page="'rollaag.html'">
      </dp-plugin-detail-partial>
    </div>
  </div>
</div>
