<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header heading="{{vm.apiData.results.id}}" definition="MEETBOUT"></dp-stelselpedia-header>

      <dl class="key-value-list">
          <dt>Status</dt>
          <dd>{{ vm.apiData.results.status }}</dd>
          <dt>Adres</dt>
          <dd>{{ vm.apiData.results.adres }}</dd>
          <dt>Locatie</dt>
          <dd>{{ vm.apiData.results.locatie }}</dd>
          <dt>Coördinaten</dt>
          <dd>{{ vm.apiData.results.geometrie.coordinates[0] }}, {{ vm.apiData.results.geometrie.coordinates[1] }}</dd>
          <dt>Bouwblok</dt>
          <dd><dp-link type="FETCH_DETAIL" payload="vm.apiData.results.bouwblok_link">{{ vm.apiData.results.bouwblok }}</dp-link></dd>
          <dt>Bouwblokzijde</dt>
          <dd>{{ vm.apiData.results.bouwblokzijde }}</dd>
          <dt>Bouwblokeenheid</dt>
          <dd>{{ vm.apiData.results.blokeenheid }}</dd>
          <dt>Stadsdeel</dt>
          <dd><dp-link type="FETCH_DETAIL" payload="vm.apiData.results.stadsdeel_link">{{ vm.apiData.results.stadsdeel }}</dp-link></dd>
          <dt>Indicatie beveiligd</dt>
          <dd>{{ vm.apiData.results.beveiligd | dpYesno }}</dd>
      </dl>
    </div>

    <div class="list-box">
      <dp-stelselpedia-header definition="METING" use-plural="true"></dp-stelselpedia-header>

      <p ng-if="!vm.apiData.results.metingen.href">Geen metingen beschikbaar</p>

      <atlas-api-call ng-if="vm.apiData.results.metingen.href" endpoint="{{vm.apiData.results.metingen.href}}" partial="meetbouten/metingen-tabel"></atlas-api-call>

      <detail-meetbout-graph
        page-size="vm.apiData.results.metingen.count"
        href="{{vm.apiData.results.metingen.href}}">
      </detail-meetbout-graph>
    </div>

    <div>
      <dp-stelselpedia-header definition="ROLLAAG" use-plural="true"></dp-stelselpedia-header>

      <p ng-if="!vm.apiData.results.rollaag">Geen rollaag tekening beschikbaar</p>

      <atlas-api-call ng-if="vm.apiData.results.rollaag" endpoint="{{vm.apiData.results.rollaag}}" partial="meetbouten/rollaag"></atlas-api-call>
    </div>
  </div>
</div>
