$dashboardHeight: 175px;

.dashboard {
    height:100%;
}

.dashboard__heading {
    height:$dashboardHeight;
}

.dashboard__content {
    overflow-y:hidden;
    height:calc(100% - #{$dashboardHeight});
}

.dashboard__content__scrollable {
    overflow-y:scroll;
}