$dashboard-heading-height: 50px;

.c-dashboard {
  height: 100%;
  overflow: hidden;
}

.c-dashboard__heading {
  position: relative;
  height: $dashboard-heading-height;
  z-index: 2;
}

.c-dashboard__content {
  position: relative;
  height: calc(100% - #{$dashboard-heading-height});
  z-index: 1;
  overflow-y: hidden;
}

.c-dashboard__content--scrollable {
  overflow-y: auto;
}