<div class="dashboard">
    <div class="dashboard__heading">
        <div ng-controller="HeaderController as vm">
            <atlas-header query="{{vm.query}}"></atlas-header>
        </div>
    </div>
    <div class="dashboard__content">
        <div class="u-grid u-height-100">
            <div class="u-row u-height-100">
                <div ng-if="vm.sizeLeftColumn"
                    class="u-col-sm--{{vm.sizeLeftColumn}} dashboard__content__scrollable u-height-100">

                    <div ng-controller="LayerSelectionController as vm">
                        <atlas-layer-selection
                            base-layer="{{vm.baseLayer}}"
                            overlays="vm.overlays"
                            zoom="vm.zoom">

                        </atlas-layer-selection>
                    </div>
                </div>

                <div class="u-col-sm--{{vm.sizeMiddleColumn}} u-height-100">
                    <div ng-controller="MapController as vm">
                        <dp-map
                            map-state="vm.mapState"
                            markers="vm.markers">

                        </dp-map>
                    </div>
                </div>

                <div ng-if="vm.sizeRightColumn"
                    class="u-col-sm--{{vm.sizeRightColumn}} dashboard__content__scrollable u-height-100">

                    <div ng-if="vm.showDetail" ng-controller="DetailController as vm">
                        <atlas-detail
                            endpoint="{{vm.endpoint}}"
                            is-loading="vm.isLoading">
                        </atlas-detail>
                    </div>

                    <div ng-if="vm.showPage" ng-controller="PageController as vm">
                        <atlas-page name="{{vm.pageName}}"></atlas-page>
                    </div>

                    <div ng-if="vm.showSearchResults" ng-controller="SearchResultsController as vm">
                        <atlas-search-results
                            query="{{vm.query}}"
                            location="vm.location"
                            category="{{vm.category}}">

                        </atlas-search-results>
                    </div>

                    <div ng-if="vm.showStraatbeeld" ng-controller="StraatbeeldController as vm">
                        <dp-straatbeeld state="vm.straatbeeld"></dp-straatbeeld>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>