<div class="dashboard">
    <div class="dashboard__heading">
        <div class="grid">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-controller="AtlasHeaderController as vm">
                        <atlas-header query="{{vm.query}}" store="vm.store"></atlas-header>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard__content">
        <div class="grid u-height-100">
            <div class="row u-height-100">
                <div ng-if="vm.sizeLeftColumn" class="col-sm-{{vm.sizeLeftColumn}} u-height-100">
                    <div ng-controller="AtlasLayerSelectionController as vm">
                        <atlas-layer-selection
                            base-layer="{{vm.baseLayer}}"
                            overlays="vm.overlays"
                            zoom="vm.zoom"
                            store="vm.store">

                        </atlas-layer-selection>
                    </div>
                </div>

                <div class="col-sm-{{vm.sizeMiddleColumn}} u-height-100 u-pr-0 u-pl-0">
                    <div ng-controller="dpMapController as vm">
                        <dp-map map-state="vm.mapState" markers="vm.markers"></dp-map>
                    </div>
                </div>

                <div ng-if="vm.sizeRightColumn" class="col-sm-{{vm.sizeRightColumn}} u-height-100">
                    <dp-panel ng-if="vm.showDetail" heading="Detail">
                        <dp-detail></dp-detail>
                    </dp-panel>

                    <div ng-if="vm.showPage" ng-controller="AtlasPageController as vm">
                        <atlas-page name="{{vm.pageName}}"></atlas-page>
                    </div>

                    <div ng-if="vm.showSearchResults" ng-controller="SearchResultsController as vm">
                        <atlas-search-results
                            query="{{vm.query}}"
                            location="vm.location">

                        </atlas-search-results>
                    </div>

                    <dp-panel ng-if="vm.showStraatbeeld" heading="Straatbeeld">
                        <dp-straatbeeld></dp-straatbeeld>
                    </dp-panel>
                </div>
            </div>
        </div>
    </div>
</div>