<div class="c-dashboard">
    <div class="c-dashboard__heading">
        <div ng-controller="HeaderController as header">
            <atlas-header query="{{header.query}}" is-print-mode="vm.isPrintMode"></atlas-header>
        </div>
    </div>
    <div class="c-dashboard__content"
        ng-class="{
            'u-padding__right--1': !vm.isPrintMode && !vm.isRightColumnScrollable,
            'u-padding__left--1': !vm.isPrintMode
        }">

        <div class="u-grid u-height--100" ng-class="{'u-height--auto': vm.isPrintMode}">
            <div class="u-row u-height--100" ng-class="{'u-height--auto': vm.isPrintMode}">
                <div ng-if="vm.columnSizes.left"
                    class="u-col-sm--{{vm.columnSizes.left}} qa-dashboard__content__column--left u-height--100"
                    ng-class="{
                        'u-padding__right--1 u-padding__left--1': !vm.isPrintMode,
                        'u-height--auto': vm.isPrintMode
                    }">

                    <div ng-controller="LayerSelectionController as vm"
                        class="u-padding__top--2 u-height--100"
                        ng-class="{
                            'u-height--auto': vm.isPrintMode
                        }">

                        <atlas-layer-selection
                            base-layer="{{vm.baseLayer}}"
                            overlays="vm.overlays"
                            zoom="vm.zoom">

                        </atlas-layer-selection>
                    </div>
                </div>

                <div ng-if="vm.columnSizes.middle"
                    class="u-col-sm--{{vm.columnSizes.middle}} qa-dashboard__content__column--middle u-height--100"
                    ng-class="{
                        'u-padding__right--1 u-padding__left--1': !vm.isPrintMode,
                        'u-height--auto': vm.isPrintMode
                    }">

                    <div ng-if="vm.visibility.map" ng-controller="MapController as vm">
                        <dp-map
                            map-state="vm.mapState"
                            markers="vm.markers">

                        </dp-map>
                    </div>
                </div>

                <div ng-if="vm.columnSizes.right"
                    class="u-col-sm--{{vm.columnSizes.right}} qa-dashboard__content__column--right u-height--100 u-height--100"
                    ng-class="{
                        'u-padding__left--1': !vm.isPrintMode,
                        'u-padding__right--1': !vm.isPrintMode && !vm.isRightColumnScrollable,
                        'c-dashboard__content--scrollable u-padding__right--2': !vm.isPrintMode && vm.isRightColumnScrollable,
                        'u-height--auto': vm.isPrintMode
                    }">

                    <div ng-if="vm.visibility.detail" ng-controller="DetailController as vm">
                        <atlas-detail
                            endpoint="{{vm.endpoint}}"
                            is-loading="vm.isLoading">
                        </atlas-detail>
                    </div>

                    <div ng-if="vm.visibility.page" ng-controller="PageController as vm">
                        <atlas-page name="{{vm.pageName}}"></atlas-page>
                    </div>

                    <div ng-if="vm.visibility.searchResults" ng-controller="SearchResultsController as vm">
                        <atlas-search-results
                            query="{{vm.query}}"
                            location="vm.location"
                            category="{{vm.category}}">

                        </atlas-search-results>
                    </div>

                    <div ng-if="vm.visibility.straatbeeld" ng-controller="StraatbeeldController as straatbeeld">
                        <dp-straatbeeld state="straatbeeld.straatbeeldState" is-print-mode="vm.isPrintMode"></dp-straatbeeld>
                    </div>

                    <div ng-if="vm.visibility.dataSelection" ng-controller="DataSelectionController as vm">
                        <dp-data-selection state="vm.dataSelectionState"></dp-data-selection>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>