.search-form__autocomplete {
  position: absolute;
  top: $search-form-height + $base-whitespace;
  right: $base-whitespace - 1;
  left: $base-whitespace - 1;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: $secondary-gray60;
  background-color: $primary-light;

  .search-form__autocomplete__tip {
    @include font-size($body-font);
    color: $secondary-gray40;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }

  .search-form__autocomplete__category {
    &:not(:first-of-type) {
      margin-top: $base-whitespace;
    }
  }

  h4 {
    padding-right: $base-whitespace;
    padding-left: $base-whitespace;
    color: $secondary-gray40;
  }

  button {
    @include font-size($body-font);
    display: block;
    width: 100%;
    padding: ($base-whitespace / 2) $base-whitespace;
    background-color: transparent;
    color: $primary-dark;
    text-align: left;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $secondary-gray20;
      font-weight: inherit;
    }
  }
}
