<div class="detail-page__content--main">
  <div class="default-box">
    <dp-stelselpedia-header definition="VERBLIJFSOBJECT" meta-data="object"></dp-stelselpedia-header>

    <dl class="key-value-list">
        <dt>Gebruiksdoel</dt>
        <dd>{{ object.gebruiksdoel.omschrijving }}</dd>
        <dt>Feitelijk gebruik</dt>
        <dd>{{ object.gebruik.omschrijving }}</dd>
        <dt>Oppervlakte</dt>
        <dd ng-if="object.oppervlakte !== 1">{{ object.oppervlakte }} m<sup>2</sup></dd>
        <dd ng-if="object.oppervlakte === 1">onbekend</dd>
        <dt>Aantal kamers</dt>
        <dd>{{ object.aantal_kamers }}</dd>
        <dt>Type woonobject</dt>
        <dd>{{ object.type_woonobject.omschrijving }}</dd>
        <dt>Ligging</dt>
        <dd>{{ object.ligging.omschrijving }}</dd>
        <dt>Aantal bouwlagen</dt>
        <dd>{{ object.bouwlagen }}</dd>
        <dt>Verdieping toegang</dt>
        <dd>{{ object.bouwlaag_toegang }}</dd>
        <dt>Aantal verhuurbare eenheden</dt>
        <dd>{{ object.verhuurbare_eenheden }}</dd>
        <dt>Eigendomsverhouding</dt>
        <dd>{{ object.eigendomsverhouding.omschrijving }}</dd>
        <dt>Financieringswijze</dt>
        <dd>{{ object.financieringswijze.omschrijving }}</dd>
        <dt>Toegang</dt>
        <dd>{{ object.toegang.omschrijving }}</dd>
        <dt>Indicatie woningvoorraad</dt>
        <dd>{{ object.woningvoorraad | dpYesno }}</dd>
        <dt>Reden opvoer</dt>
        <dd>{{ object.reden_opvoer.omschrijving }}</dd>
        <dt>Status</dt>
        <dd>{{ object.status.omschrijving }}</dd>
        <dt>Coördinaten</dt>
        <dd>{{ object.geometrie.coordinates[0] }}, {{ object.geometrie.coordinates[1] }}</dd>
        <dt>Status coördinaten</dt>
        <dd>{{ object.status_coordinaat.omschrijving }}</dd>
    </dl>
  </div>

  <!-- Adres -->
  <div class="list-box" ng-if="object.adressen.count > 1">
    <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

    <dp-plugin-detail-list href="object.adressen.href" page="'adressen_lijst'"></dp-plugin-detail-list>
  </div>

  <!-- Pand -->
  <div class="list-box" ng-if="object.panden.count">
    <dp-stelselpedia-header definition="PAND" use-plural="true"></dp-stelselpedia-header>

    <dp-plugin-detail-list href="object.panden.href"></dp-plugin-detail-list>
  </div>

  <!-- Kadastraal object -->
  <div class="list-box" ng-if="object.kadastrale_objecten.count">
    <dp-stelselpedia-header definition="KADASTRAAL_OBJECT" use-plural="true"></dp-stelselpedia-header>

    <dp-plugin-detail-list href="object.kadastrale_objecten.href" page="'brk-vbo'" expand="true"></dp-plugin-detail-list>
  </div>

</div>

