.c-parent-relations {
  @extend %description-list;

  dt {
    width: 100% / 3 * 1;
  }

  dd {
    width: 100% / 3 * 2;

    & .o-btn--link {
      width: calc(100% - #{$link-offset});
      word-wrap: break-word;
    }
  }
}