.stelselpedia-header {
  margin-bottom:5px;

  > .stelselpedia-header__button {
    margin-left:15px;

    &+ .stelselpedia-header__button {
      margin-left:5px;
    }
  }
}

.stelselpedia-header__title,
.stelselpedia-header__button {
  display:inline-block;
}

.stelselpedia-header__title {
  line-height:20px;
  margin-bottom:0;
}

.stelselpedia-header__subtitle {
  color:@secondary-gray40;
}

.stelselpedia-header__button {
  position:relative;
  top:-1px;
  height:20px;
  line-height:18px;
  padding-right:5px;
  padding-left:5px;
  border: 1px solid @secondary-gray40;
  background: none;
}

.stelselpedia-header__content {
  position:relative;
  background-color:@secondary-gray4;
  padding-top:10px;
  padding-right:10px;
  padding-left:10px;
  border:1px solid @secondary-gray10;
  margin-top:10px;
  margin-bottom:30px;

  h3 {
    color:@secondary-gray80;
    margin-bottom:5px;
  }

  p {
    font-size:12px;
    margin-bottom:10px;

    .fa {
      position:relative;
      top:1px;
    }
  }

  dl {
    margin-top:0;
  }

  .stelselpedia-header__button {
    position:absolute;
    top:5px;
    right:5px;
  }
}
