<div class="login-wrapper" ui-sref="app">
  <div class="login-content" ng-click="$event.stopPropagation();">

    <div class="buttons-top">
      <a ui-sref="app" class="close-btn fa fa-times fa-2x"></a>
    </div>

    <form name="loginForm" novalidate class="login-form" ng-if="!vm.user.loggedIn">

      <h1>Inloggen in Atlas</h1>
      <p></p>

      <div ng-if="vm.notificationText" class="login-notifications">
        {{vm.notificationText}}
      </div>

      <div class="row">
        <label class="label" for="username"> Gebruikersnaam:</label>
        <input class="text-input"
               id="username"
               type="text"
               ng-model="vm.userNew.username"
               placeholder="Noteer hier je gebruikersnaam."
               required />
      </div>

      <div class="row">
        <label class="label" for="password"> Wachtwoord:</label>
        <input class="text-input"
               id="password"
               type="password"
               placeholder="Noteer hier je wachtwoord."
               ng-model="vm.userNew.password"
               required />
      </div>

      <div class="row buttons">
        <input class="submit-button"
               type="submit"
               ng-click="vm.login(vm.userNew)"
               ng-disabled="vm.loginIsDisabled || loginForm.$invalid"
               value="{{vm.submitLabel}}" />
      </div>

    </form>

    <form novalidate class="login-form" ng-if="vm.user.loggedIn">
      <h1>Uitloggen</h1>
      <p></p>
      <input class="submit-button" type="submit" ng-click="vm.logout()" value="{{vm.user.username}} Uitloggen" />
    </form>

    <p class="account-info">Dit inlogscherm is bedoeld voor ambtenaren die natuurlijke personen als zoekterm willen gebruiken (om bijvoorbeeld al het eigendom van een persoon te zoeken) voor de uitoefening van een taak. U kunt een account krijgen voor de toegang tot deze functie door middel van een verklaring van uw leidinggevende. Deze is aan te vragen bij de helpdesk <a href="mailto:atlas.basisinformatie@amsterdam.nl?subject=Account atlas">atlas.basisinformatie@amsterdam.nl</a>.</p>

  </div>


</div>

