.c-login-form {
  margin-bottom: $base-whitespace * 2;
}

.c-login-form__row {
  margin-bottom: $base-whitespace;
  overflow: auto;
}

.c-login-form__label {
  width: percentage(1 / 3);
  float: left;
}

.c-login-form__input {
  width: percentage(2 / 3);
  height: 30px;
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  float: left;
  border: 1px solid $secondary-gray40;
  font-size: inherit;
}

.c-login-form__button {
  float: right;
  font-weight: 700;
  line-height: 26px;
  text-transform: lowercase;

  &::after {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: $base-whitespace / 2;
    background-image: url("assets/icons/link-active.svg");
    content: "";
    vertical-align: middle;
  }

  &:hover {
    color: $primary-contrast;

    &::after {
      background-image: url("assets/icons/link-hover.svg");
    }
  }
}