<p ng-if="vm.errorMessage">{{vm.errorMessage}}</p>

<form ng-submit="vm.login($event)">
    <fieldset>
        <label>
            Gebruikersnaam:
            <input ng-model="vm.username" type="text" required>
        </label>
        <label>
            Wachtwoord:
            <input ng-model="vm.password" type="password" required>
        </label>
        <button type="submit">Inloggen</button>
    </fieldset>
</form>

<p>Leuk verhaaltje over inloggen. Waarom zou je eigenlijk inloggen? Hoe kom je aan een account?</p>