.c-page-header {
  position: relative;
}

.c-page-header__subtitle {
  @include font-size($m-header-font);
  display: block;
  padding-top: 0 !important;
  color: $primary-contrast;
}

.c-page-header__buttongroup {
  position: absolute;
  top: 20px;
  right: 0;
}

.c-page-header__button {
  width: 26px;
  height: 26px;
  margin-left: $base-whitespace;
  float: right;
}

.c-page-header__button--image {
  display: block;
  width: 100%;
  height: 100%;
}

.c-page-header__stelselpedia {
  background-image: url("assets/icons/stelselpedia.svg");

  &:hover {
    background-image: url("assets/icons/stelselpedia-hover.svg");
  }
}

.is-page-header__stelselpedia--active {
  background-image: url("assets/icons/stelselpedia-active.svg");

  &:hover {
    background-image: url("assets/icons/stelselpedia-hover.svg");
  }
}

.c-page-header__metadata {
  background-image: url("assets/icons/metadata.svg");

  &:hover {
    background-image: url("assets/icons/metadata-hover.svg");
  }
}

.is-page-header__metadata--active {
  background-image: url("assets/icons/metadata-active.svg");

  &:hover {
    background-image: url("assets/icons/metadata-hover.svg");
  }
}