.c-toggle-layer-selection {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $button-size;
  cursor: pointer;
  z-index: 3;
}

.c-toggle-layer-selection__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $button-size;
  height: $button-size;
}

.c-toggle-layer-selection__icon--mirrored {
  transform: rotate(180deg);
}

.c-toggle-layer-selection__text {
  position: absolute;
  top: 0;
  left: $button-size;
  height: $button-size;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: $secondary-gray40;
  background-color: $primary-light;
  line-height: 24px;
}

.c-toggle-layer-selection--small {
  width: 90px;

  .c-toggle-layer-selection__text {
    width: 90px - $button-size;
  }
}

.c-toggle-layer-selection--large {
  width: 170px;

  .c-toggle-layer-selection__text {
    width: 170px - $button-size;
  }
}