<dp-plugin-detail-visuals api-data="controller.api_data" has-straatbeeld="true"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{controller.api_data._display}}"
        definition="KADASTRAAL_OBJECT"
        meta-data="controller.api_data">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Kadastrale gemeentecode</dt>
        <dd>{{ controller.api_data.kadastrale_gemeente._display }}</dd>
        <dt>Sectie</dt>
        <dd>{{ controller.api_data.sectie.sectie }}</dd>
        <dt>Objectnummer</dt>
        <dd>{{ controller.api_data.objectnummer  }}</dd>
        <dt>Indexletter</dt>
        <dd>{{ controller.api_data.indexletter }}</dd>
        <dt>Indexnummer</dt>
        <dd>{{ controller.api_data.indexnummer }}</dd>
        <dt>Kadastrale gemeente</dt>
        <dd>{{ controller.api_data.kadastrale_gemeente.naam }}</dd>
        <dt>Gemeente</dt>
        <dd>{{ controller.api_data.kadastrale_gemeente.gemeente._display }}</dd>
        <dt>Koopsom</dt>
        <dd>{{ controller.api_data.koopsom }}</dd>
        <dt>Koopjaar</dt>
        <dd>{{ controller.api_data.koopjaar }}</dd>
        <dt>Grootte</dt>
        <dd>{{ controller.api_data.grootte }} <span ng-if="controller.api_data.grootte">m<sup>2</sup></span></dd>
        <dt>Cultuur bebouwd</dt>
        <dd>{{ controller.api_data.cultuur_bebouwd }}</dd>
        <dt>Cultuur onbebouwd</dt>
        <dd>{{ controller.api_data.cultuur_onbebouwd }}</dd>
      </dl>
    </div>

    <dp-plugin-detail-list href="controller.api_data._links.self.href" page="'brk'" expand="true"></dp-plugin-detail-list>

    <div class="list-box" ng-if="controller.api_data.verblijfsobjecten.count">
      <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list href="controller.api_data.verblijfsobjecten.href" page="'adressen_lijst'"></dp-plugin-detail-list>
    </div>
  </div>
</div>
