<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{controller.api_data._display}}"
        definition="KADASTRAAL_SUBJECT"
        meta-data="controller.api_data">
      </dp-stelselpedia-header>

      <!-- niet natuurlijke persoon -->
      <dl class="key-value-list" ng-if="controller.api_data.is_natuurlijk_persoon === false">
        <dt>Statutaire zetel</dt>
        <dd>{{ controller.api_data.statutaire_zetel }}</dd>
        <dt>Rechtsvorm</dt>
        <dd>{{ controller.api_data.rechtsvorm.omschrijving }}</dd>
        <dt>RSIN</dt>
        <dd>{{ controller.api_data.rsin }}</dd>
        <dt>KvK nummer</dt>
        <dd>{{ controller.api_data.kvknummer }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ controller.api_data.woonadres.openbareruimte_naam }} {{ controller.api_data.woonadres.huisnummer }}{{ controller.api_data.woonadres.huisletter }}{{ controller.api_data.woonadres.toevoeging }} {{ controller.api_data.woonadres.postcode }} {{ controller.api_data.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ controller.api_data.woonadres.buitenland_adres }} {{ controller.api_data.woonadres.buitenland_woonplaats }} {{ controller.api_data.woonadres.buitenland_naam }} {{ controller.api_data.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ controller.api_data.postadres.openbareruimte_naam }} {{ controller.api_data.postadres.huisnummer }}{{ controller.api_data.postadres.huisletter }}{{ controller.api_data.postadres.toevoeging }} {{ controller.api_data.postadres.postcode }} {{ controller.api_data.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ controller.api_data.postadres.buitenland_adres }} {{ controller.api_data.postadres.buitenland_woonplaats }} {{ controller.api_data.postadres.buitenland_naam }} {{ controller.api_data.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ controller.api_data.postadres.postbus_nummer }} {{ controller.api_data.postadres.postbus_postcode }} {{ controller.api_data.postadres.postbus_woonplaats }}
        </dd>
      </dl>

      <!-- natuurlijke persoon -->
      <dl class="key-value-list" ng-if="controller.api_data.is_natuurlijk_persoon === true">
        <dt>Voornamen</dt>
        <dd>{{ controller.api_data.voornamen }}</dd>
        <dt>Voorvoegsels</dt>
        <dd>{{ controller.api_data.voorvoegsels }}</dd>
        <dt>Geslachtsnaam</dt>
        <dd>{{ controller.api_data.naam }}</dd>
        <dt>Geslacht</dt>
        <dd>{{ controller.api_data.geslacht.omschrijving }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ controller.api_data.geboortedatum | dpDatum }}</dd>
        <dt>Geboorteplaats</dt>
        <dd>{{ controller.api_data.geboorteplaats }}</dd>
        <dt>Geboorteland</dt>
        <dd>{{ controller.api_data.geboorteland.omschrijving }}</dd>
        <dt>Datum van overlijden</dt>
        <dd>{{ controller.api_data.overlijdensdatum }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ controller.api_data.woonadres.openbareruimte_naam }} {{ controller.api_data.woonadres.huisnummer }}{{ controller.api_data.woonadres.huisletter }}{{ controller.api_data.woonadres.toevoeging }} {{ controller.api_data.woonadres.postcode }} {{ controller.api_data.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ controller.api_data.woonadres.buitenland_adres }} {{ controller.api_data.woonadres.buitenland_woonplaats }} {{ controller.api_data.woonadres.buitenland_naam }} {{ controller.api_data.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ controller.api_data.postadres.openbareruimte_naam }} {{ controller.api_data.postadres.huisnummer }}{{ controller.api_data.postadres.huisletter }}{{ controller.api_data.postadres.toevoeging }} {{ controller.api_data.postadres.postcode }} {{ controller.api_data.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ controller.api_data.postadres.buitenland_adres }} {{ controller.api_data.postadres.buitenland_woonplaats }} {{ controller.api_data.postadres.buitenland_naam }} {{ controller.api_data.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ controller.api_data.postadres.postbus_nummer }} {{ controller.api_data.postadres.postbus_postcode }} {{ controller.api_data.postadres.postbus_woonplaats }}
        </dd>
      </dl>
    </div>

    <div class="default-box" ng-if="controller.api_data.rechten.count">
      <dp-stelselpedia-header definition="ZAKELIJK_RECHT" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list page="'subject-rechten'" href="controller.api_data.rechten.href"></dp-plugin-detail-list>
    </div>
  </div>
</div>
