
  <h4 ng-if="count >= 2" class="paginering">1-{{ objects.length }} van {{ count }}</h4>

  <div class="list" ng-repeat="object in objects">

  <dp-link type="FETCH_DETAIL" payload="{{object._links.self.href}}">
    <i class="fa fa-chevron-right link"></i>{{ object._display}}
  </dp-link>
	<div
		class="brk-indented"
		ng-include="'./plugins/plugin-detail/templates/common/brk.html'">
	</div>


</div>
	<a class="loadmore" ng-click="loadMore()" ng-if="next">
    <i class="fa fa-plus fa-2x link"></i>Meer
  </a>