<div class="detail-page__content--main">
  <div class="default-box">
    <dp-api-data ng-if="object.verblijfsobject" uri="{{object.verblijfsobject}}" local-scope="verblijfsobject">
      <dp-nummeraanduiding-header
        heading="{{object._display}}"
        hoofdadres="object.hoofdadres"
        verblijfsobject="verblijfsobject"
        meta-data="object">
      </dp-nummeraanduiding-header>
    </dp-api-data>

    <dp-stelselpedia-header ng-if="!object.verblijfsobject"
      heading="{{object._display}}"
      definition="NUMMERAANDUIDING"
      meta-data="object">

    </dp-stelselpedia-header>


    <dl class="key-value-list">
      <dt>Naam openbare ruimte</dt>
      <dd ng-if="object.openbare_ruimte">
        <dp-link type="FETCH_DETAIL" payload="{{object.openbare_ruimte._links.self.href}}">{{ object.openbare_ruimte._display }}</dp-link>
      </dd>
      <dt>Huisnummer</dt>
      <dd>{{ object.huisnummer }}</dd>
      <dt>Huisletter</dt>
      <dd>{{ object.huisletter }}</dd>
      <dt>Huisnummertoevoeging</dt>
      <dd>{{ object.huisnummer_toevoeging }}</dd>
      <dt>Postcode</dt>
      <dd>{{ object.postcode }}</dd>
      <dt>Woonplaats</dt>
      <dd ng-if="object.woonplaats">
        <dp-link type="FETCH_DETAIL" payload="{{object.woonplaats._links.self.href}}">{{ object.woonplaats._display }}</dp-link>
      </dd>
      <dt>Status</dt>
      <dd>{{ object.status.omschrijving }}</dd>
    </dl>
  </div>
</div>
