$primary-light: #fff;
$primary-dark: #000;
$primary-contrast: #f00;

$secondary-gray80: #333;
$secondary-gray60: #666;
$secondary-gray40: #999;
$secondary-gray20: #ccc;
$secondary-gray10: #e5e5e5;
$secondary-gray4: #f6f6f6;

$thema-1: #f17730;
$thema-2: #fab231;
$thema-3: #feef35;
$thema-4: #b7d242;
$thema-5: #61b84d;
$thema-6: #17a454;
$thema-7: #19a684;
$thema-8: #1aaab6;
$thema-9: #1daeec;
$thema-10: #1586c9;
$thema-11: #0d61ab;
$thema-12: #2f3490;
$thema-13: #752f8e;
$thema-14: #ac268c;
$thema-15: #e9168b;
