@import "../shared/styles/config";

@import "components/active-overlays/active-overlays";
@import "components/map/map";
@import "components/toggle-fullscreen/toggle-fullscreen";
@import "components/toggle-layer-selection/toggle-layer-selection";
@import "services/measure/measure";

.is-print-mode {
  @import "components/map/map-print";
  @import "components/toggle-fullscreen/toggle-fullscreen-print";
}
