@import "../shared/styles/config";

@import "components/map/map";
@import "components/overlay-legend/overlay-legend";
@import "components/overlay-legend/legend-item/legend-item";
@import "components/toggle-fullscreen/toggle-fullscreen";
@import "services/measure/measure";

.is-print-mode {
  @import "components/map/map-print";
  @import "components/toggle-fullscreen/toggle-fullscreen-print";
}
