.legend-item {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.legend-visibility-icon {
  width: 1.5em;
}

.legend-item--toggle {
  margin-right: .5rem;
  padding-top: .25rem;

  button {
    background-color: inherit;
  }
}

.legend-item--title {
  padding-bottom: .1rem;
}
