<div class="u-clearfix">
	<div class="legend-item__toggle u-pull--left">
		<dp-link type="MAP_TOGGLE_VISIBILITY_OVERLAY" payload="vm.overlay.id" class-name="legend-item__toggle__button">
			<img ng-src="{{ vm.getIcon() }}" class="legend-visibility-icon" alt="{{ vm.icon_alt_text }}">
		</dp-link>
	</div>
	<div class="legend-item u-pull--left">
		<span class="legend-item__title">{{ vm.label }}</span>
		<div class="legend-item__legend" ng-if="vm.legend">
			<img ng-src="{{ vm.legend }}" alt="Legenda"/>
		</div>
	</div>
</div>