<div class="u-padding__bottom--2">
  <table class="o-table" ng-if="apiData.results">
    <thead>
      <tr>
        <th>Datum</th>
        <th class="u-text-align--right">Hoogte NAP</th>
        <th class="u-text-align--right">Zakking (mm)</th>
        <th class="u-text-align--right">Zaksnelheid (mm/j)</th>
        <th class="u-text-align--right">Zakking cum. (mm)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="object in apiData.results">
        <td>{{ object.datum }}</td>
        <td class="u-text-align--right">{{object.hoogte_nap >= 0 ? '+' : ''}}{{ object.hoogte_nap | number:3}}</td>
        <td class="u-text-align--right">{{object.zakking >= 0 ? '+' : ''}}{{ object.zakking | number:3}}</td>
        <td class="u-text-align--right">{{object.zakkingssnelheid >= 0 ? '+' : ''}}{{ object.zakkingssnelheid | number:3}}</td>
        <td class="u-text-align--right">{{object.zakking_cumulatief >= 0 ? '+' : ''}}{{ object.zakking_cumulatief | number:3}}</td>
      </tr>
    </tbody>
  </table>

  <button class="o-loadmore" ng-click="loadMore()" ng-if="apiData.next">
    Meer
  </button>
</div>