<div class="list-box" ng-if="object.rechten[0]">
  <dp-stelselpedia-header definition="ZAKELIJK_RECHT" use-plural="true"></dp-stelselpedia-header>

  <dp-plugin-detail-include page="rechten" data="object.rechten"></dp-plugin-detail-include>
</div>

 <div class="list-box" ng-if="object.beperkingen[0]">
  <dp-stelselpedia-header definition="GEMEENTELIJKE_BEPERKING" use-plural="true" brk="object"></dp-stelselpedia-header>

  <dp-plugin-detail-include page="beperking" data="object.beperkingen"></dp-plugin-detail-include>
</div>

<div class="list-box" ng-if="object.aantekeningen[0]">
  <dp-stelselpedia-header definition="AANTEKENING" use-plural="true"></dp-stelselpedia-header>

  <dp-plugin-detail-include page="aantekening" data="object.aantekeningen"></dp-plugin-detail-include>
</div>

<div class="list-box" ng-if="object.ontstaan_uit[0]">
  <dp-stelselpedia-header definition="ONTSTAAN_UIT" use-plural="true"></dp-stelselpedia-header>

  <dp-plugin-detail-include data="object.ontstaan_uit"></dp-plugin-detail-include>
</div>

<div class="list-box" ng-if="object.betrokken_bij[0]">
  <dp-stelselpedia-header definition="BETROKKEN_BIJ" use-plural="true"></dp-stelselpedia-header>

  <dp-plugin-detail-include data="object.betrokken_bij"></dp-plugin-detail-include>
</div>