.c-meetbout {
  margin-bottom: 20px;
}

.c-meetbout__axis {
  fill: none;
  stroke: $primary-dark;
  stroke-width: 1.5px;
}

.c-meetbout__line {
  fill: none;
}

.c-meetbout__line--zakking,
.c-meetbout__axis--y-zakking {
  stroke: $primary-contrast;
}

.c-meetbout__line--zakkingssnelheid,
.c-meetbout__axis--y-zakkingssnelheid {
  stroke: $thema-10;
}
