<h2>Wat is Atlas?</h2>
<p>
    Atlas is een applicatie van de gemeente Amsterdam en is er om data te gebruiken en te delen. In deze viewer kun je data zoeken en selecteren.
</p>

<h2>Voor wie is Atlas?</h2>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>
        Atlas is er voor medewerkers van de gemeente Amsterdam, maar ook burgers, bedrijven, kennisinstellingen en data-intermediairs kunnen gebruik maken van de verzamelde data.
    </li>
    <li>
        Uitgangspunt van DataPunt is dat alle data openbaar zijn, tenzij. Om reden van privacy of veiligheid moet je voor toegang tot bepaalde data geautoriseerd zijn. Kijk voor meer informatie hierover op <a href="http://data.amsterdam.nl/">data.amsterdam.nl</a>.
    </li>
</ul>

<h2>Hoe gebruik ik Atlas?</h2>
<h4>Zoeken en selecteren in Atlas:</h4>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>
        <!-- <dp-link type="SHOW_PAGE" payload="'metadata'"> -->
            Snel wegwijs
        <!-- </dp-link> -->
    </li>
</ul>
<h4>Andere mogelijkheden in Atlas:</h4>
<p>
    Wil je iets anders dan zoeken of selecteren? Bijvoorbeeld analyseren, rapporteren, koppelen, zelf data delen of naar de catalogus met datasets? Ga naar <a href="http://data.amsterdam.nl/">data.amsterdam.nl</a>.
</p>

<h2>Hoe gebruik ik Atlas?</h2>
<dp-link type="SHOW_PAGE" payload="'metadata'">
    Wat is de actualiteit van de data?
</dp-link>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>
        Correcties op data melden? Gebruik de terugmeldknop in het menu dat bovenaan  elk scherm zichtbaar is.
    </li>
</ul>

<h2>Versie...</h2>
<p>
    <dp-link type="SHOW_PAGE" payload="'versie-historie'">
        Alle verbeteringen weergeven
    </dp-link>
</p>

<h2>Contact</h2>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>
        <strong>Feedback:</strong> Met jouw feedback kunnen we Atlas verder optimaliseren. 
        Mis je iets, werkt Atlas niet goed, andere opmerkingen? 
        Mail ze naar
        <a href="mailto:atlas.basisinformatie@amsterdam.nl">atlas.basisinformatie@amsterdam.nl</a>.
    </li>
    <li>
        <strong>Terugmelden:</strong> Correcties op data melden? 
        Gebruik de "Terugmelden" link die bovenaan elk scherm via het menu opvraagbaar is.
    </li>
</ul>