<div class="o-header">
    <h1 class="o-header__subtitle">Help</h1>
    <h1 class="o-header__title">Hoe gebruik ik Artlas</h1>
</div>

<h2 class="o-header__subtitle">Wat is Atlas?</h2>
<p>
    Atlas is een applicatie van de gemeente Amsterdam en is er om data te gebruiken en te delen. In deze viewer kun je
    data zoeken en selecteren.
</p>

<h2 class="o-header__subtitle">Voor wie is DataPunt?</h2>
<p>
    Atlas is er voor medewerkers van de gemeente Amsterdam, maar ook burgers, bedrijven, kennisinstellingen en
    data-intermediairs kunnen gebruik maken van de verzamelde data.
</p>
<p>
    Uitgangspunt van Atlas is dat alle data openbaar zijn, tenzij. Om reden van privacy of veiligheid moet je voor
    toegang tot bepaalde data geautoriseerd zijn. Kijk voor meer informatie hierover op
    <a href="http://data.amsterdam.nl/">data.amsterdam.nl</a>.
</p>

<h2 class="o-header__subtitle">Hoe gebruik ik DataPunt?</h2>

<h3 class="o-header__subtitle u-color__primary--dark">Zoeken en selecteren in DataPunt:</h3>
<ul class="o-list--bulleted">
    <li>Snel wegwijs ???</li>
    <li>Handleiding Atlas ???</li>
</ul>

<h3 class="o-header__subtitle u-color__primary--dark">Andere mogelijkheden in Atlas</h3>
<p>
    Wil je iets anders dan zoeken of selecteren? Bijvoorbeeld analyseren, rapporteren, koppelen, zelf data delen of naar
    de catalogus met datasets? Ga naar <a href="http://data.amsterdam.nl/">data.amsterdam.nl</a>.
</p>

<h2 class="o-header__subtitle">De data in Atlas</h2>
<p>Correcties op data melden? Gebruik de "Terugmelden" link die bovenaan elk scherm via het menu opvraagbaar is.</p>
<p><dp-link type="SHOW_PAGE" payload="'metadata'">Wat is de actualiteit van de data?</dp-link></p>

<h2 class="o-header__subtitle">Versie</h2>
<p><dp-link type="SHOW_PAGE" payload="'versie-historie'">Alle verbeteringen weergeven.</dp-link></p>

<h2 class="o-header__subtitle">Contact</h2>
<ul class="o-list--bulleted">
    <li>
        <strong>Feedback:</strong> Met jouw feedback kunnen we Atlas verder optimaliseren. Mis je iets, werkt Atlas niet
        goed, andere opmerkingen? Mail ze naar
        <a href="mailto:atlas.basisinformatie@amsterdam.nl">atlas.basisinformatie@amsterdam.nl</a>.
    </li>
    <li>
        <strong>Terugmelden:</strong> Correcties op data melden? Gebruik de "Terugmelden" link die bovenaan elk scherm
        via het menu opvraagbaar is.
    </li>
</ul>