<div class="o-header">
    <div class="o-header__subtitle">Datapunt</div>
    <h1 class="o-header__title">Welkom bij Atlas</h1>
</div>

<p>
    Atlas is een applicatie van de gemeente Amsterdam en is er om data te gebruiken en te delen. In deze viewer kun
    je data zoeken en selecteren. Cras sit amet ex venenatis, dignissim mi nec, dignissim est. Nulla aliquet euismod
    nibh, vitae rhoncus eros eleifend ut. Suspendisse sodales, tellus ac vestibulum dictum, eros erat commodo risus,
    vitae egestas lacus est a magna. Vestibulum gravida dolor justo, eu tristique purus bibendum non.
</p>

<h2 class="o-header__subtitle">Nieuw in DataPunt</h2>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>
        Curabitur dictum felis sapien, sit amet faucibus quam porttitor vitae. Morbi nec sodales neque. Ut porta et
        nulla sit amet dictum. Morbi eget erat quam.
    </li>
    <li>
        Nunc vestibulum, nunc laoreet imperdiet porta, lacus tortor volutpat lacus, at viverra sapien eros ac massa.
    </li>
    <li>
        Fusce tempor dolor eget malesuada condimentum. Nulla quis sollicitudin diam, eu sagittis nisi. Ut ut gravida
        quam. Sed eu est vel urna tempor pharetra sit amet sed ipsum.
    </li>
</ul>

<p><dp-link type="SHOW_PAGE" payload="'versie-historie'">Alle verbeteringen weergeven</dp-link></p>

<h2 class="o-header__subtitle">Binnenkort in Atlas</h2>
<ul class="o-list--bulleted">
    <li>Fusce tempor dolor eget malesuada condimentum.</li>
    <li>Nulla quis sollicitudin diam, eu sagittis nisi.</li>
    <li>Ut ut gravida quam.</li>
</ul>

<h2 class="o-header__subtitle">Meer weten?</h2>
<p><dp-link type="SHOW_PAGE" payload="'help'">Bekijk de help pagina.</dp-link></p>