<h1>Welkom</h1>

<p>
    Atlas is een applicatie van de gemeente Amsterdam en is er om data te gebruiken en te delen. In deze viewer kun je data zoeken en selecteren.
</p>

<h2>Nieuw in Atlas</h2>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>Vernieuwde cartografie waarmee:
        <ul>
            <li>de vormgeving meer is afgestemd op de Amsterdamse huisstijl</li>
            <li>bij inzoomen vanaf niveau 12 meer elementen zijn te onderscheiden dan voorheen</li>
            <li>actuelere kaartgegevens zichtbaar zijn (nieuwe brondata zijn ontsloten)</li>
        </ul>
    </li>
    <li>Zoekresultaten verbeterd</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd</li>
</ul>

<p><dp-link type="SHOW_PAGE" payload="'versie-historie'">Alle verbeteringen weergeven</dp-link></p>

<h2>Binnenkort in Atlas</h2>
<ul class="o-list--bulleted">
    <li>Op basis van selecties zelf adresbestanden kunnen genereren</li>
    <li>Bedrijfsgegevens uit het Handelsregister</li>
    <li>Nieuw ontwerp van de gebruikersinterface</li>
</ul>

<h2>Meer weten?</h2>
<p class="u-margin__bottom--0">Tip:in het menu rechtsboven vind je de Help-knop voor:</p>
<ul class="o-list--bulleted u-margin__bottom--2">
    <li>Snel wegwijs</li>
    <li>Actualiteit van gegevens en terugmelden van fouten</li>
    <li>Meer over DataPunt</li>
    <li>Contact</li>
</ul>
