<ul>
    <li><dp-link type="FETCH_STRAATBEELD" payload="1000017472453">Get straatbeeld by ID</dp-link></li>
    <li><dp-link type="FETCH_STRAATBEELD" payload="[52.356907, 5.001411]">Get straatbeeld by location</dp-link></li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/openbareruimte/03630000003189/'">
            Ga naar Damstraat - Openbare ruimte
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000215880/'">
            Ga naar Nieuwe Doelenstraat 1A - Adres (nummeraanduiding vbo)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/verblijfsobject/03630001023080/'">
            Ga naar Leeuwendalersweg 23B - Adres (veel kadastrale objecten)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000537323/'">
            Ga naar binnenkant 5 - Adres (nevenadres)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/verblijfsobject/03630023646964/'">
            Ga naar Ad Windighof 12A - Adres (vbo code 18)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000517566/'">
            Ga naar Binnenkant 1B - Adres (ligplaats nummmeraanduiding)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/ligplaats/03630001030154/'">
            Ga naar Binnenkant 1B - Adres (ligplaats)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/nummeraanduiding/03630000153651/'">
            Ga naar Johan Broedeletstraat 10 - Adres (standplaats nummeraanduiding)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/standplaats/03630000691674/'">
            Ga naar Johan Broedeletstraat 10 - Adres (standplaats)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/pand/03630013077074/'">
            Ga naar 0363100012135433 - Pand
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/stadsdeel/03630000000018/'">
            Ga naar Centrum - Stadsdeel
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/buurtcombinatie/3630012052028/'">
            Ga naar buurtcombinatie
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/buurt/03630000000583/'">
            Ga naar buurt
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/bouwblok/03630012095971/'">
            Ga naar bouwblok
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/gebiedsgerichtwerken/DX01/'">
            Ga naar gebiedsgericht werken
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/unesco/kernzone/'">
            Ga naar unesco
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/grootstedelijkgebied/noord-zuidlijn/'">
            Ga naar grootstdelijk gebied
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/wkpb/beperking/3488/'">
            Ga naar beperking
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/brk/object/NL.KAD.OnroerendeZaak.11460160670000/'">
            Ga naar kadastraal object (doorklikken natuurlijk subject)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/brk/subject/NL.KAD.Persoon.259599452/'">
            Ga naar kadastraal subject (niet natuurlijk)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/meetbouten/meetbout/10581105/'">
            Ga naar meetbouten
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/meetbouten/meetbout/11181168/'">
            Ga naar meetbouten (rollaag)
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/nap/peilmerk/10580011/'">
            Ga naar nap
        </dp-link>
    </li>

    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/gebieden/bouwblok/03630012096424/'">
            Erik's bouwblok
        </dp-link>
    </li>
    <li>
        <dp-link type="FETCH_DETAIL" payload="'https://api-acc.datapunt.amsterdam.nl/bag/verblijfsobject/03630001024765/'">
            Erik's huis
        </dp-link>
    </li>
</ul>