<h1>Versie historie</h1>

<h3>25 augustus 2016</h3>
<ul class="o-list--bulleted">
    <li>Vernieuwde cartografie waarmee:
        <ul>
            <li>de vormgeving meer is afgestemd op de Amsterdamse huisstijl</li>
            <li>bij inzoomen vanaf niveau 12 meer elementen zijn te onderscheiden dan voorheen</li>
            <li>actuelere kaartgegevens zichtbaar zijn (nieuwe brondata zijn ontsloten)</li>
        </ul>
    </li>
    <li>Zoekresultaten verbeterd</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd</li>

<h3>11 augustus 2016</h3>
<ul class="o-list--bulleted">
    <li>Zoekresultaten verbeterd (minder irrelevante resultaten).</li>
    <li>Automatisch aanvullen in het zoekveld verbeterd (minder irrelevante resultaten)</li>
</ul>