<button class="site-header__menu__item site-header__menu__item--toggle" ng-click="toggleDropdown()" ng-class="{
    'site-header__menu__item--toggle--active': isVisible
    }">
    Menu
</button>

<nav ng-if="isVisible" class="menu-dropdown">
    <ul>
        <li>
            <dp-link type="SHOW_PRINT" class-name="site-header__menu__subitem">
                Bekijk printversie
            </dp-link>
        </li>
        <li>
            <atlas-terugmelden-button>
                Terugmelden
            </atlas-terugmelden-button>
        </li>
        <li>
            <dp-link type="SHOW_PAGE" payload="'help'" class-name="site-header__menu__subitem">
                Help
            </dp-link>
        </li>
    </ul>
</nav>