<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{vm.apiData._display}}"
        definition="KADASTRAAL_OBJECT"
        meta-data="vm.apiData">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Kadastrale gemeentecode</dt>
        <dd>{{ vm.apiData.kadastrale_gemeente._display }}</dd>
        <dt>Sectie</dt>
        <dd>{{ vm.apiData.sectie.sectie }}</dd>
        <dt>Objectnummer</dt>
        <dd>{{ vm.apiData.objectnummer  }}</dd>
        <dt>Indexletter</dt>
        <dd>{{ vm.apiData.indexletter }}</dd>
        <dt>Indexnummer</dt>
        <dd>{{ vm.apiData.indexnummer }}</dd>
        <dt>Kadastrale gemeente</dt>
        <dd>{{ vm.apiData.kadastrale_gemeente.naam }}</dd>
        <dt>Gemeente</dt>
        <dd>{{ vm.apiData.kadastrale_gemeente.gemeente._display }}</dd>
        <dt>Koopsom</dt>
        <dd>{{ vm.apiData.koopsom }}</dd>
        <dt>Koopjaar</dt>
        <dd>{{ vm.apiData.koopjaar }}</dd>
        <dt>Grootte</dt>
        <dd>{{ vm.apiData.grootte }} <span ng-if="vm.apiData.grootte">m<sup>2</sup></span></dd>
        <dt>Cultuur bebouwd</dt>
        <dd>{{ vm.apiData.cultuur_bebouwd }}</dd>
        <dt>Cultuur onbebouwd</dt>
        <dd>{{ vm.apiData.cultuur_onbebouwd }}</dd>
      </dl>
    </div>

    <atlas-api-call endpoint="vm.apiData._links.self.href" partial="brk" expand="true"></atlas-api-call>

    <div class="list-box" ng-if="vm.apiData.verblijfsobjecten.count">
      <dp-stelselpedia-header definition="NUMMERAANDUIDING" use-plural="true"></dp-stelselpedia-header>

      <atlas-api-call endpoint="vm.apiData.verblijfsobjecten.href" partial="adressen_lijst"></atlas-api-call>
    </div>
  </div>
</div>
