<div>
    <div class="u-row">
      <atlas-stelselpedia-header
        heading="{{vm.apiData.results._display}}"
        definition="KADASTRAAL_SUBJECT"
        meta-data="vm.apiData">
      </atlas-stelselpedia-header>

      <!-- niet natuurlijke persoon -->
      <dl class="c-key-value-list" ng-if="vm.apiData.results.is_natuurlijk_persoon === false">
        <dt>Statutaire zetel</dt>
        <dd>{{ vm.apiData.results.statutaire_zetel }}</dd>
        <dt>Rechtsvorm</dt>
        <dd>{{ vm.apiData.results.rechtsvorm.omschrijving }}</dd>
        <dt>RSIN</dt>
        <dd>{{ vm.apiData.results.rsin }}</dd>
        <dt>KvK nummer</dt>
        <dd>{{ vm.apiData.results.kvknummer }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ vm.apiData.results.woonadres.openbareruimte_naam }} {{ vm.apiData.results.woonadres.huisnummer }}{{ vm.apiData.results.woonadres.huisletter }}{{ vm.apiData.results.woonadres.toevoeging }} {{ vm.apiData.results.woonadres.postcode }} {{ vm.apiData.results.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ vm.apiData.results.woonadres.buitenland_adres }} {{ vm.apiData.results.woonadres.buitenland_woonplaats }} {{ vm.apiData.results.woonadres.buitenland_naam }} {{ vm.apiData.results.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ vm.apiData.results.postadres.openbareruimte_naam }} {{ vm.apiData.results.postadres.huisnummer }}{{ vm.apiData.results.postadres.huisletter }}{{ vm.apiData.results.postadres.toevoeging }} {{ vm.apiData.results.postadres.postcode }} {{ vm.apiData.results.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ vm.apiData.results.postadres.buitenland_adres }} {{ vm.apiData.results.postadres.buitenland_woonplaats }} {{ vm.apiData.results.postadres.buitenland_naam }} {{ vm.apiData.results.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ vm.apiData.results.postadres.postbus_nummer }} {{ vm.apiData.results.postadres.postbus_postcode }} {{ vm.apiData.results.postadres.postbus_woonplaats }}
        </dd>
      </dl>

      <!-- natuurlijke persoon -->
      <dl class="c-key-value-list" ng-if="vm.apiData.results.is_natuurlijk_persoon === true">
        <dt>Voornamen</dt>
        <dd>{{ vm.apiData.results.voornamen }}</dd>
        <dt>Voorvoegsels</dt>
        <dd>{{ vm.apiData.results.voorvoegsels }}</dd>
        <dt>Geslachtsnaam</dt>
        <dd>{{ vm.apiData.results.naam }}</dd>
        <dt>Geslacht</dt>
        <dd>{{ vm.apiData.results.geslacht.omschrijving }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ vm.apiData.results.geboortedatum }}</dd>
        <dt>Geboorteplaats</dt>
        <dd>{{ vm.apiData.results.geboorteplaats }}</dd>
        <dt>Geboorteland</dt>
        <dd>{{ vm.apiData.results.geboorteland.omschrijving }}</dd>
        <dt>Datum van overlijden</dt>
        <dd>{{ vm.apiData.results.overlijdensdatum }}</dd>
        <dt>Woonadres</dt>
        <dd>
          {{ vm.apiData.results.woonadres.openbareruimte_naam }} {{ vm.apiData.results.woonadres.huisnummer }}{{ vm.apiData.results.woonadres.huisletter }}{{ vm.apiData.results.woonadres.toevoeging }} {{ vm.apiData.results.woonadres.postcode }} {{ vm.apiData.results.woonadres.woonplaats }}
        </dd>
        <dt>Woonadres buitenland</dt>
        <dd>
          {{ vm.apiData.results.woonadres.buitenland_adres }} {{ vm.apiData.results.woonadres.buitenland_woonplaats }} {{ vm.apiData.results.woonadres.buitenland_naam }} {{ vm.apiData.results.woonadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres</dt>
        <dd>
          {{ vm.apiData.results.postadres.openbareruimte_naam }} {{ vm.apiData.results.postadres.huisnummer }}{{ vm.apiData.results.postadres.huisletter }}{{ vm.apiData.results.postadres.toevoeging }} {{ vm.apiData.results.postadres.postcode }} {{ vm.apiData.results.postadres.woonplaats }}
        </dd>
        <dt>Postadres buitenland</dt>
        <dd>
          {{ vm.apiData.results.postadres.buitenland_adres }} {{ vm.apiData.results.postadres.buitenland_woonplaats }} {{ vm.apiData.results.postadres.buitenland_naam }} {{ vm.apiData.results.postadres.buitenland_land.omschrijving }}
        </dd>
        <dt>Postadres postbus</dt>
        <dd>
          {{ vm.apiData.results.postadres.postbus_nummer }} {{ vm.apiData.results.postadres.postbus_postcode }} {{ vm.apiData.results.postadres.postbus_woonplaats }}
        </dd>
      </dl>
    </div>

    <div class="default-box" ng-if="vm.apiData.results.rechten.count">
      <atlas-stelselpedia-header definition="ZAKELIJK_RECHT" use-plural="true"></atlas-stelselpedia-header>

      <atlas-api-call endpoint="{{vm.apiData.results.rechten.href}}" partial="brk/subject-rechten"></atlas-api-call>
    </div>
</div>

