.c-nummeraanduiding {
  position: absolute;
  top: $base-whitespace * 2;
  right: ($button-size + $base-whitespace) * 2; //afstand berekend mbt metadata en stelselpedia buttons
  padding: 0 $base-whitespace;
  color: $primary-light;
  font-weight: bold;
  line-height: $button-size;
}

.c-nummeraanduiding--nevenadres {
  background-color: $thema-10;
}

.c-nummeraanduiding--gevormd {
  background-color: $primary-contrast;
}