<div>
  <h4 ng-if="apiData.count >= 5" class="paginering">1-{{ apiData.results.length }} van {{apiData.count}}</h4>
  <ul class="o-list">
    <li ng-repeat="object in apiData.results">
      <dp-link type="FETCH_DETAIL" payload="object._links.self.href">
        {{ object._display }}
      </dp-link>
      <span class="muted" ng-if="object.hoofdadres !== undefined">{{ object.hoofdadres ? "" : "(nevenadres)" }}</span>
    </li>
  </ul>

  <button class="o-loadmore" ng-click="loadMore()" ng-if="apiData.next">
    Meer
  </button>
</div>