<div>
    <div ng-if="apiData.results.rechten[0]">
      <atlas-stelselpedia-header definition="ZAKELIJK_RECHT" use-plural="true"></atlas-stelselpedia-header>

      <atlas-partial-select partial="rechten" api-data="{results:apiData.results.rechten}"></atlas-partial-select>
    </div>

    <div ng-if="apiData.results.beperkingen[0]">
      <atlas-stelselpedia-header definition="GEMEENTELIJKE_BEPERKING" use-plural="true" brk="apiData.results"></atlas-stelselpedia-header>

      <atlas-partial-select partial="beperking" api-data="{results:apiData.results.beperkingen}"></atlas-partial-select>
    </div>

    <div ng-if="apiData.results.aantekeningen[0]">
      <atlas-stelselpedia-header definition="AANTEKENING" use-plural="true"></atlas-stelselpedia-header>

      <atlas-partial-select partial="aantekening" api-data="{results:apiData.results.aantekeningen}"></atlas-partial-select>
    </div>

    <div ng-if="apiData.results.ontstaan_uit[0]">
      <atlas-stelselpedia-header definition="ONTSTAAN_UIT" use-plural="true"></atlas-stelselpedia-header>

      <atlas-partial-select partial="lijst" api-data="{results:apiData.results.ontstaan_uit}"></atlas-partial-select>
    </div>

    <div ng-if="apiData.results.betrokken_bij[0]">
      <atlas-stelselpedia-header definition="BETROKKEN_BIJ" use-plural="true"></atlas-stelselpedia-header>

      <atlas-partial-select partial="lijst" api-data="{results:apiData.results.betrokken_bij}"></atlas-partial-select>
    </div>
</div>