<div class="u-margin__bottom--2">
    <button class="o-btn btn-white"
        ng-click="vm.hideLayerSelection()">

        Hide layer selection
    </button>
</div>

<div class="u-margin__bottom--2">
    <h2 class="h3">Ondergrond</h2>
    <ul>
        <li ng-repeat="baseLayer in vm.allBaseLayers">
            <label>
                <input
                    ng-model="vm.activeBaseLayer"
                    ng-change="vm.setBaseLayer(vm.activeBaseLayer)"
                    type="radio"
                    value="{{baseLayer.slug}}">

                {{baseLayer.label}}
            </label>
        </li>
    </ul>
</div>

<div class="u-margin__bottom--2" ng-repeat="category in vm.allOverlays">
    <h2 class="h3">{{category.heading}}</h2>
    <ul>
        <li ng-repeat="overlay in category.overlays">
            <label>
                <input
                    type="checkbox"
                    ng-checked="vm.isOverlayActive(overlay.slug)"
                    ng-click="vm.toggleOverlay(overlay.slug)"
                    value="{{overlay.slug}}">

                {{overlay.label}}

                <span ng-if="vm.isOverlayActive(overlay.slug) && !vm.isOverlayVisible(overlay.slug)">
                    (<strong>deze kaartlaag is niet zichtbaar op dit zoomniveau</strong>)
                </span>
            </label>
        </li>
    </ul>
</div>