.o-btn {
  /*
  @name Button w/ link styling
  @markup
    <button class="btn btn--link">Lorem ipsum</button>
  */
  &.o-btn--link {
    @extend %link--arrow;

    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
  }

  &.o-btn--contrast {
    color: $primary-contrast;

    &:hover {
      color: $secondary-gray60;
    }
  }
}

.o-btn--close {
  position: absolute;
  top: 0;
  right: 0;
  width: $button-size;
  height: $button-size;
  background-image: url("assets/icons/close.svg");

  &:hover {
    background-image: url("assets/icons/close-hover.svg");
  }
}