.btn {
  /*
  @name Button - white
  @markup
    <button class="btn btn-white">A white button</button>
  */
  &.btn-white {
    padding: $base-whitespace / 2;
    border: 1px solid $black;
    border-radius: 6px;

    background-color: $white;
    color: $black;
    font-size: inherit;

    &:hover {
      background-color: $gray-90;
    }

    &[disabled] {
      color: $brand-primary;
    }
  }

  /*
  @name Button w/ link styling
  @markup
    <button class="btn btn-link">Lorem ipsum</button>
  */
  &.btn-link {
    @include link;

    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}