/*
@name Headings
@markup
  <h1>Large header</h1>
  <h2 class="h1">This header has the same size as &lt;h1&gt;

  <h4>Smallest header</h4>
*/
h1,
.h1 {
  font-size:2.5 * $base-font-size;
}

h2,
.h2 {
  font-size:2 * $base-font-size;
}

h3,
.h3 {
  font-size:1.5 * $base-font-size;
}

h4,
.h4 {
  font-size:1 * $base-font-size;
}