/*
@Name List
@markup
  <ul class="list-inline">
    <li>Item #1</li>
    <li>Item #2</li>
    <li>Item #3</li>
  </ul>
*/
.list {
  border-top: 1px solid $secondary-gray60;

  li {
    border-bottom: 1px solid $secondary-gray60;
    line-height: 22px;
  }
}


/*
@Name List inline (horizontal)
@markup
  <ul class="list-inline">
    <li>Item #1</li>
    <li>Item #2</li>
    <li>Item #3</li>
  </ul>
*/
.list-inline {
  font-size: 0;

  li {
    display: inline-block;
    font-size: $base-font-size;
  }
}