/*
@name Table
@markup
<table class="o-table">
  <tbody>
    <tr>
      <th scope="row">Naam 24-posities (NEN)</th>
      <td>Agatha Dekenstraat</td>
    </tr>
    <tr>
      <th scope="row">Naam 17-posities (post)</th>
      <td>A DEKENSTR</td>
    </tr>
    <tr>
      <th scope="row">Woonplaats</th>
      <td>Amsterdam</td>
    </tr>
  </tbody>
</table>
*/
.o-table {
  width: 100%;
  margin-bottom: $base-whitespace;
  border-spacing: 0;

  th {
    text-align: left;
  }

  th,
  td {
    padding-top: $base-whitespace / 2;
    padding-bottom: $base-whitespace / 2;
    border-bottom: 1px solid $secondary-gray10;

    &:not(:last-child) {
      padding-right: $base-whitespace * 2;
    }
  }

  tbody {
    th {
      font-weight: 400;
    }
  }
}