.u-color-red { color:$red; }
.u-color-black { color:$black; }
.u-color-white { color:$white; }

.u-bg-color-red { background-color:$red; }
.u-bg-color-black { background-color:$black; }
.u-bg-color-white { background-color:$white; }