//This is an extend so it can be used by both the anchor tag as well as buttons with .btn--link

$link-offset: $base-font-size;

%link--arrow {
  display: inline-block;
  position: relative;
  margin-left: $link-offset;
  color: $secondary-gray60;
  font-weight: 700;
  text-decoration: none;

  &::before {
    display: inline-block;
    position: absolute;
    left: -$link-offset;
    content: "›";
  }

  &:hover {
    color: $primary-contrast;
  }

  &:active {
    color: $secondary-gray80 !important;

    &:focus {
      outline: none;
    }
  }
}