.leaflet-map {
  position: absolute;
  top: $base-whitespace * 2;
  right: $base-whitespace * 2;
  bottom: $base-whitespace * 2;
  left: $base-whitespace * 2;
  border: 1px solid $secondary-gray40;
  cursor: default;
}