.c-map {
  position: absolute;
  top: $base-whitespace * 2;
  right: $base-whitespace;
  bottom: $base-whitespace * 2;
  left: $base-whitespace;
  overflow: hidden;
}

.c-map__leaflet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  //translateZ(0) is needed to fix a Firefox bug, see tg-1306 (black screen when scrolling)
  transform: translateZ(0);
  border: 1px solid $secondary-gray40;
  cursor: default;
  z-index: 1;
}