.c-map {
  position: absolute;
  top: $base-whitespace * 2;
  right: $base-whitespace;
  bottom: 0;
  left: $base-whitespace;
}

.c-map__leaflet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: $secondary-gray40;
  cursor: default;
  z-index: 1;
}