<h3 style="margin-top:0;">
    <i ng-if="vm.map.isLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    Status
</h3>
<table class="table table-bordered table-condensed">
    <tr>
        <th scope="row">map.baseLayer</th>
        <td>{{vm.mapState.baseLayer}}</td>
    </tr>
    <tr>
        <th scope="row">map.overlays</th>
        <td>{{vm.mapState.overlays.join(', ')}}</td>
    </tr>
    <tr>
        <th scope="row">map.showLayerSelection</th>
        <td>{{vm.mapState.showLayerSelection}}</td>
    </tr>
    <tr>
        <th scope="row">map.viewCenter</th>
        <td>{{vm.mapState.viewCenter.join(', ')}}</td>
    </tr>
    <tr>
        <th scope="row">map.zoom</th>
        <td>{{vm.mapState.zoom}}</td>
    </tr>
    <tr>
        <th scope="row">map.highlight</th>
        <td>{{vm.mapState.highlight}}</td>
    </tr>
    <tr>
        <th scope="row">map.isLoading</th>
        <td>{{vm.mapState.isLoading}}</td>
    </tr>
</table>

<h3 style="margin-top:0;">Markers</h3>
<div class="u-mb-2">
    {{vm.markers}}
</div>

<h3 style="margin-top:0;">Actions</h3>
<div class="form-group">
    <button class="btn btn-white"
        ng-click="vm.triggerSearch([52.37806836619496, 4.922570419827849])">
        Zoek door te klikken: 'Jan Schaeferbrug'
    </button>
</div>
<div class="form-group">
    <button class="btn btn-white"
        ng-click="vm.panTo([52.3719, 4.9012])"
        ng-disabled="vm.mapState.viewCenter[0] === 52.3719 && vm.mapState.viewCenter[1] === 4.9012">

        Pan to default viewCenter
    </button>

    <button class="btn btn-white"
        ng-click="vm.panTo([52.38855278893656, 4.85112416084341])"
        ng-disabled="vm.mapState.viewCenter[0] === 52.38855278893656 && vm.mapState.viewCenter[1] === 4.85112416084341">
        Pan to Amterdam Sloterdijkerweg
    </button>

    <button class="btn btn-white"
        ng-click="vm.panTo([52.36358104949824, 4.90237154233286])"
        ng-disabled="vm.mapState.viewCenter[0] === 52.36358104949824 && vm.mapState.viewCenter[1] === 4.90237154233286">
        Pan to Magere brug
    </button>
</div>
<div class="form-group">
    <button class="btn btn-white"
            ng-click="vm.zoom(8)"
            ng-disabled="vm.mapState.zoom === 8">

        Zoom to level 8
    </button>

    <button class="btn btn-white"
            ng-click="vm.zoom(12)"
            ng-disabled="vm.mapState.zoom === 12">

        Zoom to level 12
    </button>

    <button class="btn btn-white"
            ng-click="vm.zoom(16)"
            ng-disabled="vm.mapState.zoom === 16">

        Zoom to level 16
    </button>
</div>
<div class="form-group">
    <button class="btn btn-white"
            ng-click="vm.showLayerSelection()"
            ng-click="vm.showLayerSelection()"
            ng-disabled="vm.mapState.showLayerSelection">

        Show layer selection
    </button>
</div>
