@import "autocomplete/autocomplete";

$submit-button-width: 30px;

.search-form {
  padding-top: $base-whitespace;
  padding-bottom: $base-whitespace;
}

.search-form__input {
  display: block;
  width: calc(100% - #{$submit-button-width});
  height: $search-form-height;
  padding-right: $base-whitespace;
  padding-left: $base-whitespace;
  float: left;
  outline: none;
  background-color: $secondary-gray40;
  color: $primary-light;
  font-size: $base-font-size;

  &::placeholder {
    color: $primary-light;
  }

  &:focus {
    & + .search-form__submit {
      background-color: $primary-contrast;
    }
  }
}

.search-form__submit {
  width: $submit-button-width;
  height: $search-form-height;
  float: left;
  background-color: $secondary-gray40;
  background-image: url("assets/icons/search.svg");
  background-repeat: no-repeat;
  color: $primary-light;
  font-size: $base-font-size;
  cursor: pointer;

  &:hover {
    background-color: $primary-contrast;
  }
}