<form class="search-form" ng-submit="formSubmit($event)">
    <fieldset>
        <div class="search-form__input">
            <input
                class="js-search-input"
                type="text"
                ng-model="query"
                placeholder="Zoek..."
                autocapitalize="off"
                autocorrect="off"
                autocomplete="off"
                spellcheck="false"
                ng-change="getSuggestions()"
                ng-keydown="navigateSuggestions($event)"
                ng-blur="removeSuggestions($event)">
        </div>

        <div ng-if="numberOfSuggestions" class="search-form__autocomplete">
            <div class="search-form__autocomplete__category" ng-repeat="category in suggestions">
                <h4>{{category.label}}</h4>
                <ul>
                    <li ng-repeat="suggestion in category.content">
                        <button type="button" ng-class="{
                                active: activeSuggestionIndex === suggestion.index
                            }"
                            ng-click="goToDetail(suggestion.uri); setFocus()">

                            {{suggestion._display | longNameShortener | suggestionHighlight : (originalQuery || query)}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <button class="search-form__submit" type="submit">
            Zoek
        </button>
    </fieldset>
</form>
