<form class="c-search-form" ng-submit="formSubmit($event)">
    <fieldset>
        <input
            class="c-search-form__input js-search-input"
            type="text"
            ng-model="query"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            spellcheck="false"
            placeholder="Zoek naar adressen, objecten enz..."
            ng-change="getSuggestions()"
            ng-keydown="navigateSuggestions($event)"
            ng-blur="removeSuggestions($event)">

        <button class="c-search-form__submit" type="submit">
            <span class="u-sr-only">Zoek</span>
        </button>

        <div ng-if="numberOfSuggestions" class="c-autocomplete">
            <h3 class="c-autocomplete__tip">Enkele suggesties</h3>

            <div class="c-autocomplete__category" ng-repeat="category in suggestions">
                <h4 class="c-autocomplete__category__heading">{{category.label}}</h4>
                <ul>
                    <li ng-repeat="suggestion in category.content">
                        <button type="button" class="c-autocomplete__category__suggestion" ng-class="{
                                'c-autocomplete__category__suggestion--active': activeSuggestionIndex === suggestion.index
                            }"
                            ng-click="goToDetail(suggestion.uri); setFocus()"
                            ng-bind-html="suggestion._display | longNameShortener | suggestionHighlight : (originalQuery || query)"
                            alt="zoeken" title="zoeken">

                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</form>
