<dp-plugin-detail-visuals api-data="controller.api_data" has-straatbeeld="false"></dp-plugin-detail-visuals>

<div class="detail-page__content">
  <div class="detail-page__content--main">
    <div class="default-box">
      <dp-stelselpedia-header
        heading="{{controller.api_data.naam}}"
        definition="BUURTCOMBINATIE"
        meta-data="controller.api_data">
      </dp-stelselpedia-header>

      <dl class="key-value-list">
        <dt>Volledige code</dt>
        <dd>{{ controller.api_data.code }}</dd>
      </dl>
    </div>

    <div class="list-box" ng-if="controller.api_data.buurten.count">
      <dp-stelselpedia-header definition="BUURT" use-plural="true"></dp-stelselpedia-header>

      <dp-plugin-detail-list href="controller.api_data.buurten.href"></dp-plugin-detail-list>
    </div>

    <dp-bbga-graphs
      gebied-heading="{{controller.api_data.naam}}"
      gebied-code="{{controller.api_data.volledige_code}}">

    </dp-bbga-graphs>
  </div>

  <div class="detail-page__content--sidebar">
    <dp-parent-relations content="controller.api_data"></dp-parent-relations>
  </div>
</div>
